[2014-05-07 18:33] IainNZ opened #2 "Some files are breaking HTTP parser"
e.g.
This file:
https://github.com/JuliaOpt/JuMP.jl/blob/master/src/print.jl
is the issue in JuMP's case.

@loladiro @staticfloat @cdsousa

Still trying to figure out why, about to start chopping the file to pieces to see if I can isolate it

[2014-05-10 17:26] #2 closed, assigned to nobody

[2014-05-12 16:40] jakebolewski opened #4 "Methods that are not JIT'ed do not show up in coverage results."
Would require more involved parsing of the coverage report to pick out all method definitions to adjust the coverage stats appropriately.

[2014-06-09 13:08] dirkschumacher opened #7 "Coverage fails on travis CI"
I wanted to add coveralls to my package, but it crashes with an error. Happens also to other packages.
See here:
https://travis-ci.org/dirkschumacher/PValueAdjust.jl/jobs/27127738
or
https://travis-ci.org/dcjones/Gadfly.jl/jobs/27072771

[code]

[2014-06-09 22:28] #7 closed, assigned to nobody

[2014-06-23 23:27] tomasaschan opened #9 "Is it possible to use this tool with `Pkg.test()` rather than `julia runtests.jl`?"
In an attempt to configure the soon-to-be released [Contour](https://github.com/tlycken/Contour.jl) package to be correctly handled by `Pkg`, I've added a couple of `REQUIRE` files to the repo: https://github.com/tlycken/Contour.jl/pull/6

However, since installation of testing dependencies rely on using `Pkg.test("Contour")` to run the test suite, I can't just do `julia --code-coverage test/runte

[2014-07-02 10:55] timholy opened #11 "Over-reporting of coverage"
In working on https://github.com/JuliaLang/julia/pull/7464, I've taken a closer look at how this package scores coverage. I think there's a problem of over-reporting.

Suppose we create the following file:

[code]

Now we run the following test script:

[code]

as `julia --code-coverage test.jl`. We get the following coverage file:

[code]

As expected, f1 is marked as having run, but f2 is not. I

[2014-07-02 15:53] #11 closed, assigned to nobody

[2014-07-05 14:45] dmbates opened #12 "Is pkgname/src/pkgname.jl always skipped?"
The end of the travis testing log for my `Metis` package is

[code]

Unfortunately, in this package all the code defining methods is in `src/Metis.jl`.  In one way this is an advantage in that I always end up with 100% coverage, but that is based on an incorrect assessment.

Should I split the active code into a separate file?

[2014-07-05 15:09] #12 closed, assigned to nobody

[2014-08-11 21:47] #9 closed, assigned to nobody

[2014-08-16 15:50] IainNZ opened #19 "[PkgEval] Coverage may have a testing issue on Julia 0.3 (2014-08-16)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-08-16 15:51] IainNZ opened #20 "[PkgEval] Coverage may have a testing issue on Julia 0.4 (2014-08-16)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-08-16 15:54] #19 closed, assigned to nobody

[2014-08-16 15:55] #20 closed, assigned to nobody

[2014-08-21 21:06] mlubin opened #21 "running coverage locally?"
``Coveralls.submit`` seems tied to travis, e.g., it depends on ``ENV["TRAVIS_JOB_ID"]``. What would need to be done to let this be run locally?

[2014-09-14 04:41] kmsquire opened #25 "ERROR: nowutc not defined"
From a travis build [here](https://travis-ci.org/kmsquire/VideoIO.jl/builds/35227095#L2729-L2737):

[code]

It's unclear to me exactly where this error is coming from, as none of the lines indicated have a `nowutc`.  This might actually belong in julia Base, but I thought I'd start here, since it happened during Coverage testing.

Cc: @quinnj

[2014-09-14 21:04] #25 closed, assigned to nobody

[2015-01-06 21:43] IainNZ commented on #21
I think this is done now, see README

[2015-01-06 21:43] #21 closed

[2015-01-06 21:43] #4 closed

[2015-01-07 12:22] timholy opened #37 "Coveralls, but not Coverage, broken for some packages"
I'm not getting Coveralls reports for Images anymore, but I still get them for HDF5. I don't think this is a settings issue with Coveralls/Travis/etc, though of course it could be. On a lark: could it be a Unicode issue?
[code]
By contrast:
[code]

[2015-01-07 17:48] sbromberger opened #38 "Instructions incorrect/unclear"
[code]

results in
[code]

I can't find any reference to this function in Coverage.

[code]

[2015-01-07 18:01] sbromberger commented on #38
Also, if someone would please tell me why I dropped from 49% to 0% coverage when I commented out some stale code and added some tests, I'd appreciate it: https://github.com/sbromberger/IPNets.jl.

[2015-01-07 18:39] sbromberger commented on #38
Ah, I see `coverage_folder` has not been tagged yet. Sorry.

[2015-01-07 19:14] sbromberger commented on #38
Closing because the original issue has been resolved. Still at 0% coverage via Coveralls even though

[code]

[2015-01-07 19:26] timholy commented on #38
Current versino is 0.0.5; have you done a `Pkg.update()` lately?

I've seen that too for one of my repositories. Can you check a hunch of mine: #37.

[2015-01-07 19:31] sbromberger commented on #38
[code]

[2015-01-07 19:34] sbromberger commented on #37
I don't think so: I'm getting 0% coverage for `IPNets.jl` but

[code]

[2015-01-07 19:36] sbromberger commented on #38
Just to add info: I created my coveralls account this morning and immediately got 49%. That seemed horribly low, so I got rid of some stale code and pushed to master. Travis is working, but Coveralls dropped to 0%.

[2015-01-07 19:47] timholy commented on #38
As of this morning, it should have been using the same version of Coverage it's using now (the last new tag was 3pm yesterday).

[2015-01-07 19:49] sbromberger commented on #38
Ah, it's unlikely I did a Pkg.update() since 3pm yesterday. I just did a `Pkg.add("Coverage")` this morning after reading through your post on julia-users and feeling guilty about not having coverage metrics. I have to say, 0% makes my project look pretty shabby :)

[2015-01-07 20:12] timholy commented on #38
My point is that what Coveralls gets from Travis has nothing to do with what's on your machine: your .travis.yml script will do a fresh install of the current version of Coverage, whenever you push your commit. Since Coverage hasn't changed between your first and second push, it's almost certain that Coverage v.0.0.5 gave you that 49% result, and that Coverage v0.0.5 gave you that 0% result.

That

[2015-01-07 20:15] sbromberger commented on #38
Here's the thing that I don't quite get: doing the manual coverage statistics per the README yields 66/85. Coveralls is reporting 0/85. So I don't think it's Coverage, I think it's something with Coveralls.

[2015-01-07 20:17] timholy commented on #38
I should add that #37 is my bet that there's a systematic problem; I haven't gotten reliable Coveralls reports in Images since September, but HDF5 has been solid the whole time.

[2015-01-07 20:18] timholy commented on #38
Agreed; it's either Coveralls or something about the way we're packaging the data for Coveralls.

[2015-01-07 20:19] sbromberger commented on #38
If it means anything, I tried doing a `Coveralls.submit(Coveralls.process_folder())` from within the REPL and got
[code]

[2015-01-07 20:21] timholy commented on #38
I did notice this:
[code]
However, HDF5 has some mismatches, too. (They seem to correspond to blank lines at the end of a file.)

[2015-01-07 20:24] sbromberger commented on #38
[code]

[2015-01-07 20:26] timholy commented on #38
That's a good thing to try. You could put in a dummy value, e.g., `ENV["TRAVIS_JOB_ID"] = 101` before you try that `submit` command.

[2015-01-07 20:27] sbromberger commented on #38
[code]

[2015-01-07 20:38] timholy commented on #38
I don't know what a real `TRAVIS_JOB_ID` looks like. However, now that Iain has given me commit privileges to this repository, perhaps I can abuse them :smile: to do some debugging. I'll try creating a fake package, tweak its `.travis.yml` script to check out a special branch of Coverage.jl, and then create that branch so that it prints the `TRAVIS_JOB_ID` into the travis console output.

[2015-01-07 20:39] sbromberger commented on #38
I've got nothing against deleting my coveralls repo and readding it to test.

[2015-01-07 21:06] sbromberger commented on #38
Hm. Where does one perform step 3 for coveralls coverage?

This isn't in the travis.yml, I don't think. How are the code coverage stats auto-generated on build? Are the .cov files supposed to be tracked in the repo?

[2015-01-07 21:13] timholy commented on #38
OK, I didn't have to modify Coverage.jl at all. If you add these lines to your test script:
[code]
push a commit to your repo, and look at the console output on travis, then you can get a valid `TRAVIS_JOB_ID`. Then indeed you can use that to push directly from your machine to Coveralls.io as you did above.

No, the `.cov` files should definitely not be checked into the repo. With regards to runni

[2015-01-07 21:14] timholy commented on #38
Hah! I got a 0% build on my dummy package: https://coveralls.io/files/415649715.

Now I'm going to see if I can push straight from my machine and fix it.

[2015-01-07 21:15] sbromberger commented on #38
Where exactly would this be configured? It's not in `script:`...

[2015-01-07 21:17] IainNZ commented on #38
@sbromberger this line in your Travis for IPNets:
`  - julia --codecoverage=user -e 'Pkg.init(); Pkg.clone(pwd()); Pkg.test("IPNets")'`
won't work, I think. It should be
` - julia -e 'Pkg.init(); Pkg.clone(pwd()); Pkg.test("IPNets",coverage=true)'`

[2015-01-07 21:18] IainNZ commented on #38
This is such an odd issue, I'm still travelling in NZ so can't really dig into it.
Can it be somehow related to https://github.com/IainNZ/Coverage.jl/issues/2 ?

[2015-01-07 21:18] timholy commented on #38
Yep, that fixed it, now it's back at 50%: https://coveralls.io/builds/1707259.

So either there is something flaky about the sends from Travis, or something flaky about the receives from Coveralls.

[2015-01-07 21:23] timholy commented on #38
Just doing multiple `Coveralls.submit(r)`, where `r = Coveralls.process_folder()` (and doesn't change from one iteration to the next), makes Coveralls vacillate between 0% and 50%. (50% is the correct answer for the Dummy package I created.)

[2015-01-07 21:30] timholy commented on #38
So, here's a summary of what you need to do to submit from your local machine:
- Get your .travis.yml in proper working order, including that `Pkg.test(pkgname, coverage=true)`.
- Add these lines to your `runtests.jl`:
[code]
- Push commits to your github repo. When you get a 0% score from Coveralls, go to the relevant travis build, and copy-paste the job id.
- On your local machine, make sure you

[2015-01-07 21:34] sbromberger commented on #38
[code]

I'm reverting. I've spent 4 hours trying to get coverage working and need to do some billable work today :)

[2015-01-07 21:40] timholy commented on #37
In #38 it seems to be apparent that this is some random failure on the part of Coveralls.io.

[2015-01-07 21:47] sbromberger commented on #38
Suggest that the docs be updated to ensure that "coverage=true" is in .travis.yml (even though it broke my CI when it was in there - if it's wrong, then whatever's required to ensure test coverage is computed during CI builds).

[2015-01-07 21:48] sbromberger commented on #38
I wonder if the failure is unrelated:

[code]

[2015-01-07 22:18] sbromberger commented on #38
...and METADATA appears to be fixed now.

[2015-01-07 22:36] karanveerm opened #40 "Coverage gone down with new release"
Hi,

With the new Coverage release, the coverage for Convex.jl seems to have gone down from 92% to 57%

Looking at https://coveralls.io/builds/1700000 and comparing it to https://coveralls.io/builds/1707677 (both are the same commit on different branches- the former was using the previous version of Coverage), it seems like the number of files covered also went down from 31 to 8.

Would this be a

[2015-01-07 23:01] timholy commented on #40
For the number of files, that looks like a bug: I seem to have broken the recursive descent into subfolders. Thanks for reporting it; I'll fix this pronto.

For the change in the coverage %age, see https://groups.google.com/d/msg/julia-users/h7rtp5RC9Eo/dJYfotrsXGYJ. The bottom line is our old method of calculating coverage %age was completely bogus; you could have had a file with 1000 1-line func

[2015-01-07 23:08] #40 closed

[2015-01-07 23:09] timholy commented on #40
OK fixed, and a new release tag. Next time you push a commit to Travis, it will use the corrected one.

[2015-01-08 00:15] sbromberger commented on #38
The problems today must have been transient: everything's working as expected.

One last question: how does one write a test for
[code]
?

[2015-01-08 01:52] timholy commented on #38
Great question. Try this:
[code]
I've used that trick several placed in the tests in base.

[2015-01-08 03:54] IainNZ commented on #38
Even better, only just learnt this:

[code]

This simplified https://github.com/JuliaOpt/JuMP.jl/blob/master/test/print.jl somewhat just a few days ago

[2015-01-08 04:37] sbromberger commented on #38
That's awesome, thanks both @IainNZ and @timholy .

I have

[code]
and apparently
[code]
doesn't cover it, though it passes the testing. This is the lone holdout in my test suite :) Any ideas?

[2015-01-08 10:38] timholy commented on #38
Rewrite that method as
[code]
and then use the `IOBuffer` trick above. That way you can test that printing gives the correct answer. You can also just write a test `display(o5)` and make sure it doesn't throw an error.

[2015-01-10 04:29] sbromberger commented on #38
I'll close this out since everything's working properly. Thanks for all the help.

[2015-01-10 04:29] #38 closed

[2015-01-11 01:12] #37 closed

[2015-01-16 05:57] karanveerm opened #43 ".cov file in coveralls"
https://coveralls.io/builds/1752035 has a file called `src/dcp.jl.cov` (no other file has a .cov) and I can't seem to figure out why that would be the case specifically with just the [dcp.jl](https://github.com/JuliaOpt/Convex.jl/blob/master/src/dcp.jl) file. Would this be a bug, or am I doing something wrong?

[2015-01-16 15:15] timholy commented on #43
That file shouldn't even be in there, it's the rest that are the ones you want. What does the output of Coverage look like when you [run it locally](https://github.com/IainNZ/Coverage.jl)?

[2015-01-16 18:18] IainNZ commented on #43
I can't see it in that Coveralls link, but can you send the Travis log for that build?

[2015-01-16 19:23] karanveerm commented on #43
@IainNZ: https://coveralls.io/jobs/4042288 and https://travis-ci.org/JuliaOpt/Convex.jl/jobs/47195102#L2435
If you look at line 2435, it doesn't say "Skipped src/dcp.jl.cov" as it did for other .cov files

@timholy: Are you asking for the output of dcp.jl.cov? It looks like this: https://gist.github.com/karanveerm/efe5c3e7589a5611eb63

The output of `using Coverage; covered, tot = coverage_folder(

[2015-01-16 19:30] IainNZ commented on #43
Wooah, weird.

[2015-01-16 20:07] karanveerm commented on #43
It seems like `.cov`  files are expected to error out in this function: https://github.com/IainNZ/Coverage.jl/blob/master/src/Coverage.jl#L35 and only when the error is caught, the file is skipped
[code]
This errors out for all `.cov` files except `dcp.jl.cov`.

I guess the simplest fix would be to skip any file with a `.cov`extension over here: https://github.com/IainNZ/Coverage.jl/blob/master/sr

[2015-01-19 19:21] jzuhone opened #44 "Excluding some files from coverage"
Hello,

Is there a way to exclude a file from coverage?

It's a file that generates a bunch of symbols using a macro, and I've tried several ways to make it fall under test coverage but none of them have worked, unfortunately.

[2015-01-19 21:47] IainNZ opened #45 "Don't submit files that have a coverage file generated, but its all NULL?"
e.g. https://coveralls.io/jobs/4081886 's `SimJulia.jl`

So the file is exectued, so a coverage file is generated, but there are no coverable lines, so its going to weigh down the coverage (maybe? not sure how the overall figure is generated)

[2015-01-19 22:17] garborg commented on #45
It hasn't seemed like it weighs down coverage when I've looked. In this case, for example, it doesn't:
https://coveralls.io/builds/1767792
julia> (0+35+23+49)/(0+38+24+50)
0.9553571428571429

I'd be for leaving the files in, so source files aren't missing, so there's less left to trust in the toolchain for the curious user.

[2015-01-19 22:28] IainNZ commented on #45
Ah in that case, thats fine

[2015-01-19 22:28] #45 closed

[2015-01-29 16:16] pluskid commented on #44
+1 for this feature. In Mocha.jl, some of the components using GPU cannot be tested on Travis-CI due to absence of GPU devices. I'm currently using a hack to ignore a subdirectory. But I think it might be useful to have a more principled way of ignoring some files. For example

1. Using something similar to `.gitignore` to specify patterns of files to be ignored.
2. Automatically ignore files that

[2015-02-09 16:29] IainNZ opened #48 "[PkgEval] Coverage may have a testing issue on Julia 0.4 (2015-02-09)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.

####

[2015-02-09 21:22] #48 closed

[2015-03-17 01:10] wildart opened #52 "@parallel code coverage"
I found that code wrapped with ``@parallel`` macro is not covered. Is that an issue with all macros?

[2015-03-17 10:17] timholy commented on #52
No, but it is an issue with anything that uses multiple processes. Currently we don't have a mechanism to have each worker report its own coverage and send them back to the main process for consolidation.

Pull requests are welcome, of course. (This would need to be implemented in julia proper, not Coverage.jl.)

[2015-03-17 20:02] wildart commented on #52
Got it. Thank for an explanation.

[2015-03-17 20:02] #52 closed

[2015-03-18 14:47] davidanthoff opened #53 "Have an option to mark lines as "ok that this isn't covered""
I have a situation where I'm calling an external function that returns an int. I know all the values that this external function can return, but I want to make sure my code breaks in case the external function adds another, new return type. So my code looks like this:

[code]

It would be great if there as a way to mark that line in the else block as "all good that this is not covered", so that it

[2015-03-26 12:13] tlycken opened #54 "Coverage doesn't work on 0.4?"
There seems to be a problem with submitting coverage results on 0.4 for at least https://github.com/JuliaLang/ODE.jl - I can't tell if it's because we have an outdated format in our `.travis.yml` or because something is actually broken, but all our tests pass, and then the build script fails when collecting and submitting coverage results.

You can check out a couple of build logs [here](https://t

[2015-03-26 17:25] IainNZ commented on #54
I don't know much about the latest on 0.4, I don't really use it, but

[code]

Looks like JuliaParser is somewhat broken? (@jakebolewski)

[2015-03-26 17:26] IainNZ commented on #54
The pulse is out-of-date, but 0.4 was pretty broken when i was last able to run it, by the way

[2015-03-30 06:57] tlycken commented on #54
Is there anything I can do with the `.travis.yml` file to make these builds pass, except not upload coverage stats? (In other words, is there a workaround?) I don't understand enough about the problem to be able to fix it myself...

[2015-03-30 21:51] IainNZ commented on #54
The coveralls bit should be in an `after_success` block, not part of the test. Look at e.g. Distributions.jl. That should be enough I think

[2015-04-01 16:50] IainNZ commented on #54
Looks like the underlying issue is fixed: https://github.com/jakebolewski/JuliaParser.jl/issues/18

[2015-04-02 06:57] tlycken commented on #54
Yup; the bulids in the referencing PR above completed successfully, so I think this is fixed now. Thanks (both to you and to @jakebolewski)!

[2015-04-02 06:57] #54 closed

[2015-05-06 14:21] IainNZ opened #57 "Codecov.io support"
API looks pretty similar to Coveralls, so should be easy enough.

[2015-05-06 14:37] stevepeak commented on #57
Can you show me an example `json` coverage output that I can parse server side. Thanks!

[2015-05-06 17:07] IainNZ commented on #57
We currently just export in the Coveralls.io JSON format. The raw coverage data is in the form of lines where the first 9 columns are a count and the rest is the actual line. This package reads that in, and currently mangles it into Codecov.io's JSON format if its different. It looks mostly the same

[2015-05-06 18:44] IainNZ commented on #57
https://twitter.com/iaindunning/status/595235822804275201

[2015-06-07 11:36] ovainola opened #59 "Crash with greek symbols"
Hello,

We're creating a new finite element solver for Julia and we're using Travis CI & Coverage.jl + Coveralls.io for testing. We had a problem when we uploaded our code to github and it started to build code via travis, tests went fine but it didn't upload coverage to Coveralls.io. After checking the log file from travis, it seems that Coverage.jl crashed in the Coveralls.process_folder() -func

[2015-06-07 14:50] IainNZ commented on #59
Thats strange, because many packages use Greek symbols with Coverage.jl just fine. I'll investigate when I get a chance (will not be soon).

[2015-06-07 19:20] TeroFrondelius commented on #59
I had the same issue with my FooBar package. I now corrected it, based on @ovainola .travis.yml, and these are the small changes in my .travis.yml: I removed --check-bounds=yes and added Pkg.init().
https://github.com/TeroFrondelius/FooBar.jl/commit/da91a903d45988b6e64ff44723c3c0e8ce09ab9d?diff=split

Can these have anything to do with this issue?

[2015-06-07 19:42] IainNZ commented on #59
I don't know, I don't see why it would. That Travis file is messed up by the way, it runs the tests twice.

[2015-06-07 20:09] TeroFrondelius commented on #59
Thanks. I removed the later unnecessary testing. Everything still works. This FooBar is a "empty" package for practicing the github settings.

[2015-07-02 23:48] kshyatt commented on #57
OK, I have this ALMOST working but I'm still getting HTTP 200 when I try to POST the results to codecov with the repo token included.

[2015-07-03 00:02] IainNZ commented on #57
Http200 means success - is there a message?

[2015-07-03 00:03] kshyatt commented on #57
Yeah! I got it to work! I was stupid and didn't refresh the repo... anyway we now have BASE COVERAGE ON CODECOV :tada: :fireworks: I'll submit PRs to you and to `CoverageBase` with my changes!

[2015-07-03 00:46] IainNZ commented on #57
Wow neat.
@stevepeak we should be getting a released version soon, and a lot of Julia packages will instantly be able to start using CodeCov.io. BTW, your badge format isn't really the same as the other ones, might need to generate new ones using shield.io?

[2015-07-03 01:04] #57 closed

[2015-07-03 01:06] kshyatt commented on #57
NB: Right now, `submit_token` expects that you are NOT running on CI, and scrapes the branch and commit info directly from git. I did that because that's how the Coveralls version works right now too. If people want it some other way I am happy to add more other CI services in!

[2015-07-03 01:07] #59 closed

[2015-07-03 01:10] IainNZ commented on #57
If you've got any more Coverage.jl time, could you update the README with how to use Codecov instead of Coveralls?

[2015-07-03 01:12] kshyatt commented on #57
Yes!

[2015-07-04 14:50] julian-gehring commented on #57
There may still be a problem with codecov support. The current HTTP return code is 400, with the message `data: ASCIIString "template not found at html/errors/400.html"` (see the build reports of travis: https://travis-ci.org/IainNZ/Coverage.jl/jobs/69379891). Also the codecov summary page does not show new commits, the last one shown is two months old: https://codecov.io/github/IainNZ/Coverage.jl

[2015-07-04 15:21] IainNZ opened #67 "Codecov not working properly?"
https://travis-ci.org/IainNZ/Coverage.jl/jobs/69546905

[code]

@stevepeak

Looks like the error message is screwed so its hard to know what went wrong.

[2015-07-04 15:25] julian-gehring commented on #67
Could be related to the changes in #57.

[2015-07-04 15:28] IainNZ commented on #67
Well seeing as thats the PR where I implemented it, I think thats a safe assumption!

[2015-07-04 15:29] IainNZ commented on #67
The thing is its working fine for @kshyatt for Base coverage and one of her packages, so I'm wondering if it something weird to do with branches on Codecovs end.

[2015-07-04 16:55] kshyatt commented on #67
It was working for me last night, I'm a bit busy today if someone else wants to take a look.

[2015-07-08 21:21] stevepeak commented on #67
Everything on Codecov end is going well.. I do see the logs of this ci build. However the logs do not show the reason why. I'll dig in more...

[2015-07-08 21:22] kshyatt commented on #67
Codecov just worked perfectly well for me for `CUSPARSE.jl`. This was running on my local machine, not Travis.

[2015-07-11 01:35] felipenoris commented on #67
I'm getting the same issue here: https://travis-ci.org/felipenoris/BusinessDays.jl.
Both Coveralls and Codecov are not working.
I guess that's something related to the "Cowboy" on the error message. lol

[2015-07-11 01:36] kshyatt commented on #67
If Coveralls isn't working that suggests a problem on my end, not theirs.

[2015-07-11 01:39] felipenoris commented on #67
@kshyatt I'm a "first-timer" user of Coverage. Never worked for me so far, so it could be a problem located between my keyboard and my chair. Btw, you do a marvelous job here.

[2015-07-11 01:41] kshyatt commented on #67
I haven't tried it on Travis. Do you happen to have your Travis log that I might be able to take a look at?

[2015-07-11 01:41] felipenoris commented on #67
The log is here: https://travis-ci.org/felipenoris/BusinessDays.jl . If you cannot open the link, let me know and I'll post here.

[2015-07-11 01:45] kshyatt commented on #67
Ok, so it looks like the coverage is getting sent to Coveralls correctly from Travis, and you're having the same Codecov trouble as in the OP. But the coverage numbers themselves appear to be messed up, right?

[2015-07-11 01:46] felipenoris commented on #67
Well, I'm getting 0% Coverage.

[2015-07-11 01:47] kshyatt commented on #67
Yes, because the `.cov` files are either being generated or processed incorrectly. But the `Coveralls.submit()` is working correctly, so it's something I've done wrong :)

[2015-07-11 01:49] felipenoris commented on #67
Please, don't be so hard on yourself. :+1:

[2015-07-12 03:00] felipenoris commented on #67
After a few hours of debugging, I found out that all you need is to tag a new version and publish Coverage.jl to metadata. I added Pkg.checkout("Coverage"); to my travis script and it just worked.
https://travis-ci.org/felipenoris/BusinessDays.jl
:+1:

[2015-07-12 03:53] kshyatt commented on #67
@IainNZ could you tag a new version please

[2015-07-12 20:03] IainNZ commented on #67
@kshyatt please just tag whenever you need to, I don't have good internet access this week.

[2015-07-12 20:03] IainNZ commented on #67
I'm doing it now though

[2015-07-12 20:06] tkelman commented on #67
@kshyatt mentioned she was hitting https://github.com/JuliaLang/julia/issues/10766 so unable to use `Pkg.publish`

[2015-07-12 20:09] IainNZ commented on #67
Ah right. Maybe I should move this to JuliaCI?

[2015-07-12 20:10] tkelman commented on #67
Not a bad idea. Who else has commit access here, I just invited Katie and Tim Holy to the JuliaCI org.

[2015-07-12 20:12] IainNZ commented on #67
@staticfloat @kshyatt @timholy are the people with access to Coverage right now, so, same really. I have owner status with JuliaCI apparently so I could do it right now.

[2015-07-12 20:25] felipenoris commented on #67
Ok, I guess I was not 100% correct on my statement.
By using Pkg.checkout("Coverage") , travis works for coveralls.io , but **not for Codecov**.
But, running the following script **locally** worked for Codecov.
[code]
After some more digging, I found out that when it works, I get this last message :
[code]

If I use a **wrong token** I get the same results as the original post by @IainNZ :
[code]

[2015-07-12 20:26] staticfloat commented on #67
Could what is happening be that because `Coverage.jl` uses `REPO_TOKEN` for both `Coveralls` and `Codecov`, only one is getting the correct token?

[2015-07-12 20:45] felipenoris commented on #67
@staticfloat I may be wrong, but I don't think so.
I just removed Coveralls submit from my travis script. I also tried to list my REPO_TOKEN (please don't do this at home without parents supervision). My travis script was:
[code]

The echo part listed nothing, so maybe $REPO_TOKEN was not set.

[2015-07-12 23:47] kshyatt commented on #67
Hey guys, I'm really sorry my terrible PRs caused this huge disaster. I wish I could figure out what's going on :(

[2015-07-13 03:00] felipenoris commented on #67
Are you sure this worked before on travis, without passing the user token, with https://codecov.io/upload/v1?

[2015-07-13 03:03] kshyatt commented on #67
I hadn't tried it on Travis, only locally.

[2015-07-13 04:20] felipenoris commented on #67
It turns out that it may never worked before.
I changed to V2 URL and it's now working.
https://github.com/IainNZ/Coverage.jl/pull/71.

[2015-07-23 16:28] kersulis opened #75 "process_file() not working"
I'm trying to set up code coverage with my [MatpowerCases.jl][1] package. I can't get Coveralls to report code coverage; it says it cannot find coverage data. I suspect this problem is related to an error I get when I try to use Coverage locally.

The README instructions worked well for me until I ran `covered_lines, total_lines = coverage_folder()`. This was the output:
[code]
So Coverage skipped

[2015-07-23 16:32] IainNZ commented on #75
The wrong "skip" is actually the first one, the messages are silly. Can you try
[code]

[2015-07-23 18:50] felipenoris commented on #67
Should this issue be closed?

[2015-07-23 21:32] kersulis commented on #75
Whoops, sorry about that.

Looks like the error is the same:
[code]

[2015-07-23 22:05] kersulis commented on #75
[Here](https://gist.github.com/kersulis/40c9c03ecdd9efa14831) is my coverage file.

Update: I found that
[code]
returns an array with one entry per line of code, but
[code]
or
[code]
both throw this error:
[code]

[2015-07-23 22:18] kshyatt commented on #75
I think your problem is that you are using 0.3. The change to use PIDs was made only on 0.4. But I might have made an implicit assumption when I updated the code that requires 0.4. Let me take a look - Coverage.jl obviously still needs to work with 0.3!

[2015-07-24 21:47] IainNZ commented on #43
I'm going to close this for now, quite a few things have changed so its possibly its resolved.

[2015-07-24 21:47] #43 closed

[2015-07-27 23:30] kshyatt opened #77 "JuliaParser dying in amend_coverage_from_source"
I've tried running CoverageBase on julia since it's failing on the buildbots. When I run `Coverage.process_folder("base")`, it runs happily for a while, but then I get this error:

[code]
It's dying [here](https://github.com/IainNZ/Coverage.jl/blob/master/src/Coverage.jl#L127). The fact that this only happens for `base/docs/Docs.jl` whether we ran the inlined or non-inlined tests is really weird.

[2015-07-27 23:38] IainNZ commented on #77
Only thing I changed in those parts is that the function used to return a coverage vector, but I changed it to nothing. Does JuliaParser actually parse the file separate from Coverage?

[2015-07-27 23:39] kshyatt commented on #77
[code]
Certainly appears to be trying to parse each line.

[2015-07-28 00:58] timholy commented on #77
As background, the parser is used to distinguish "real code" from useless crap (comments, lines with just `end` on them, etc). Using the parser was basically the breakthrough that allowed us to count uncovered lines against a package, rather than just counting lines prefixed with `0` against a package. So yes, it parses every line of the file and assigns 0 to the coverage of any untested line.

Of

[2015-07-28 14:37] IainNZ commented on #77
@tkelman pointed out another failure here: https://github.com/JuliaLang/METADATA.jl/pull/2960 when I tagged the new version, also parsing, but different location I think?

[2015-07-29 01:25] tkelman commented on #77
Same failure I think.

[2015-08-02 16:07] IainNZ commented on #75
Fixed now

[2015-08-02 16:07] #75 closed

[2015-08-02 16:07] IainNZ commented on #67
Fixed now

[2015-08-02 16:07] #67 closed

[2015-08-03 15:23] kersulis commented on #75
Everything works locally, and [Coveralls](https://coveralls.io/github/kersulis/MatpowerCases.jl) matches what I see on my machine. Thanks!

[2015-08-19 18:17] #77 closed

[2015-08-19 18:17] IainNZ opened #81 "`module X` incorrectly marked as not covered?"
Something different about how Base.parse works, perhaps

[2015-08-19 18:18] IainNZ commented on #81
e.g. https://codecov.io/github/JuliaLang/JSON.jl/src/JSON.jl?ref=14eecd91bccabed3074d92759e17ed38c8cf0ac0

[2015-08-19 18:19] IainNZ commented on #81
https://codecov.io/github/staticfloat/SHA.jl/src/SHA.jl?ref=98f4e9946bf7862adef630f34a27fcbf85e8170e
So its definitely not jus the first line, its just that it marks module as coverable, but it isn't

[2015-08-19 18:20] IainNZ commented on #81
I imagine the fix is just special casing something, however, I really shouldn't look at this right now, staring at a deadline D:

[2015-08-19 18:30] kshyatt commented on #81
I am also staring down a deadline.

[2015-08-19 19:46] IainNZ commented on #81
I'll get to it by the weekend I think. It isn't hurting anyone :+1:

[2015-08-24 19:38] #81 closed

[2015-08-24 20:45] BenLauwens opened #84 "Anonymous function as default argument in function call shows up as not covered"
Hi

The following function call (from SimJulia) shows up in coverage as not covered but it is called several times both with and without a specific "filter" function:

function Get{T}(sto::Store{T}, filter::Function=(item::T)->true, priority::Int64=0)

The code in this function is covered without any problem.

References:
- https://codecov.io/github/BenLauwens/SimJulia.jl/src/resources/stores.jl?r

[2015-08-24 20:47] IainNZ commented on #84
@BenLauwens can you check that the `.cov` file produced by Julia doesn't show this as covered? If so, that is a problem with Julia itself and you should file an issue there. If it does show up, then the problem could be in Coverage.jl.

[2015-08-24 20:49] IainNZ commented on #84
Oh wait hold on, I guess that is Coverage.jl's fault, because that line shouldn't have `null` coverage, not 0... @kshyatt @timholy parser related?

[2015-08-27 07:34] kshyatt opened #86 "Coveralls submit broken"
https://github.com/IainNZ/Coverage.jl/blob/master/src/coveralls.jl#L108

Looks like `Requests` no longer exports `post`.

[2015-08-27 17:53] IainNZ commented on #86
@malmaud what do

[2015-08-27 17:56] IainNZ commented on #86
Oh we were doing `using Requests`. ez mode.

[2015-08-27 18:00] malmaud commented on #86
I'm just going to reexport `post` in Requests since too many things are relying on that export, if there are no objections.

[2015-08-27 18:03] IainNZ commented on #86
Was the reason for not exporting them that they "pun" on Base things?

[2015-08-27 18:05] malmaud commented on #86
Partly it was the fact that many of the HTTP verbs are highly likely to
shadow or be shadowed by user identifiers (delete, head, options,
patch,...), and partly that 'get' puns on Base.get.

On Thu, Aug 27, 2015 at 2:03 PM, Iain Dunning <notifications@github.com>
wrote:

[2015-08-30 20:48] diegozea opened #87 "ERROR: LoadError: failed to create a precompiled cache file"
I found [this problem using Travis and Coveralls](https://travis-ci.org/diegozea/MIToS.jl):

[code]

[2015-08-30 20:53] timholy commented on #87
You just have to do what I've been doing, and submit a precompile directive at the top of each dependent file. E.g., https://github.com/JuliaLang/JSON.jl/pull/121

[2015-08-30 20:55] IainNZ commented on #87
The problem is actually in GnuTLS, and has nothing to do with Coverage.jl despite the perhaps unclear message.

[2015-08-30 20:55] #87 closed

[2015-08-30 20:56] IainNZ commented on #87
Here is an issue you can track the problem with https://github.com/JuliaWeb/GnuTLS.jl/issues/54
@malmaud said he'd take a look

[2015-08-30 20:59] diegozea commented on #87
@timholy I already have that line... Is this correct? https://github.com/diegozea/MIToS.jl/blob/master/src/MIToS.jl

[2015-08-30 21:00] IainNZ commented on #87
The issues has nothing to do with that, but yes that is correct (if your package can be precompiled)

[2015-08-30 21:41] timholy commented on #87
To make it reliable, it has to be in all dependent packages too.

But crucially: if a package can't be precompiled (e.g., it doesn't load, or doesn't pass its tests when precompiled), then you **can't precompile any of the packages that depend on it**. So you should add `__precompile__(false)` in your package, to prevent any attempt from precompilation.

See e.g. https://github.com/JuliaLang/Tk.jl

[2015-09-02 03:16] kshyatt commented on #86
This is working now it looks like.

[2015-09-02 03:16] #86 closed

[2015-09-15 21:16] diegozea opened #88 "WARNING: int(s::AbstractString) is deprecated, use parse(Int,s) instead."
I'm getting this warning here: https://travis-ci.org/diegozea/PairwiseListMatrices.jl/jobs/80517859#L831

[2015-09-22 18:38] ssfrr commented on #88
This was fixed in #90 and can be closed.

[2015-09-22 18:42] ssfrr opened #92 "Output is pretty verbose"
Currently there's quite a bit of output to STDOUT even when everything is successful. Would you accept a PR adding a `verbose` flag to `process_folder` and `clean_folder` that defaults to `false`? The behavior would be that if `verbose=false`, it only prints output when something unexpected happens.

[2015-11-16 21:39] omus opened #94 "Exception when processing baremodule"
Coverage can't seem to process baremodules. When including a `baremodule` in a package when `process_folder()` processes the file the following exception is raised:

[code]

I've managed to reproduce this exception by creating a new repo and adding a baremodule to the main source file.

[2015-11-16 21:47] IainNZ commented on #94
Oh strange, surprised that hasn't come up before. I don't really know how that parser code works, but I'd love a PR to fix it!

[2015-11-16 21:48] omus commented on #94
I'll take a look into it tomorrow. I figured it was best that I open the issue first.

[2015-11-16 21:55] IainNZ commented on #94
Yes indeed, its good to know.

[2015-11-18 16:51] #94 closed

[2015-11-22 00:48] #88 closed

[2015-11-27 18:10] jgoldfar opened #98 "Document calling from command line"
I would submit a PR if I knew exactly what the intended use was, but this https://github.com/IainNZ/Coverage.jl/blob/master/src/memalloc.jl#L58 caught me when I was trying to write a coverage command line script.

[2015-11-27 18:12] IainNZ commented on #98
ping @timholy, who wrote that

[2015-11-27 21:19] timholy commented on #98
That line contains everything I remember about this (and more). Looks like it has to be run from `Coverage/src`, and you'd presumably have to update the `find` path to 0.4.

Do you have specific questions?

[2016-01-15 00:33] staticfloat opened #100 "`with_output_limit` undefined"
This seems to have broken on `v0.5` since about December 30th.  See [this log](https://build.julialang.org/builders/coverage_ubuntu14.04-x64/builds/19/steps/Gather%20test%20results%20and%20Submit/logs/stdio) for details:

[code]

[2016-01-15 00:39] tkelman commented on #100
I think a deprecation was added back into base to make this a warning, but we haven't had new nightlies since that fix.

[2016-01-23 15:51] eschnett opened #101 "Submitting to Codecov.io is broken with Julia master"
I have a Julia repository that builds with Julia 0.5- (current master). The self-test succeeds, but no information is uploaded to Codecov.io.

This is my `.travis.yml`:
[code]

I see this error:

[code]

[2016-01-23 20:13] IainNZ commented on #101
The entire JuliaWeb stack is broken on Julia 0.5 as far as I know (e.g. https://github.com/JuliaWeb/MbedTLS.jl/pull/19), so when that is fixed, this will be fixed.

[2016-01-23 20:13] #101 closed

[2016-05-12 17:02] spk83 commented on #98
@timholy I ran into issue because of the line pointed by @jgoldfar . I am using Coverage.jl in a command line script and I was passing arg to the script which was being read by the https://github.com/JuliaCI/Coverage.jl/blob/master/src/memalloc.jl#L60 as a file, very surprising. I don't understand why it has to read args from command line. Because of this you cant use Coverage.jl in a script which

[2016-05-25 22:08] ccoffrin opened #104 "Travis-CI Badge out of date?"
Is the URL in the README.md to the travis build badge is out of date?

[2016-05-25 22:24] IainNZ commented on #104
Yes, good spotting. I'll fix it now

[2016-05-25 22:24] #104 closed

[2016-06-13 17:00] edljk opened #106 "MallocInfo with LCOV"
Is there a way to vizualize MallocInfo results with LCOV ?
Thanks !

[2016-06-30 15:49] tawheeler opened #107 "Coverage parse error in anonymous at /home/travis/.julia/v0.4/Coverage/src/Coverage.jl:149"
One of my code repos recently stopped submitting reports to Coveralls. I checked out the Travis build, and after passing tests it skips all of the files, assumes they have no coverage, and then fails with a ParseError:

[code]

I could very well be screwing up something on my end. Any chance you know what the cause is?

My Travis build is [here](https://travis-ci.org/tawheeler/AutomotiveDrivingMod

[2016-07-07 19:16] tawheeler commented on #107
Ended up being a src file that is not ever pulled in by the module (ie, cruft) that consisted entirely of commented out lines and a single uncommented `end' at the end.

[2016-07-07 19:16] #107 closed

[2016-07-07 19:21] tkelman commented on #107
Hah, glad you got to the bottom of it. So Coverage.jl is running on all the files in your package whether or not they get used?

[2016-07-14 18:14] vtjnash opened #109 "failing on julia master"
https://build.julialang.org/builders/coverage_ubuntu14.04-x64/builds/493/steps/Gather%20test%20results%20and%20Submit/logs/stdio
[code]

[2016-07-14 18:18] tkelman commented on #109
This package does not currently have an owner. It will need to be maintained by the community until that changes.

[2016-07-14 18:19] tkelman commented on #109
This package does not currently have an owner. It will need to be maintained by the community until that changes.

[2016-07-14 20:50] tkelman commented on #109
There's a chance this might actually be happening in one or both of CoverageBase.jl and/or the buildbot code at https://github.com/staticfloat/julia-buildbot, I'm not positive. cc @staticfloat maybe.

[2016-07-14 21:16] staticfloat commented on #109
Looks like this is happening because the buildbot script calls [`Codecov.submit_token(results, Base.GIT_VERSION_INFO.commit, Base.GIT_VERSION_INFO.branch)`](https://github.com/staticfloat/julia-buildbot/blob/757d7b7f0f73a72d0802bc44ff1b395361f7083d/master/coverage.py#L59), which gets caught by [this `@deprecate` macro](https://github.com/JuliaCI/Coverage.jl/blob/6e81001ad600c12c821d9fa8623f7b26ff3

[2016-07-19 18:20] #109 closed

[2017-01-17 04:22] juliohm opened #117 "Cannot access source code in Coveralls"
I tried to report the issue in Coveralls, but it seems no one is listening there: https://github.com/lemurheavy/coveralls-public/issues/906

What can be done to get this coverage working again? I didn't modify any configuration regarding tests/coverage, it just stopped working.

As a side question, am I correct to say Codecov is offering a better service? I am considering migrating to it.

[2017-01-17 04:50] juliohm commented on #117
I switched to Codecov, much better. Closing this.

[2017-01-17 04:50] #117 closed

[2017-03-15 18:57] musm opened #120 "tag a new release"
For 0.6 dep warns thanks

[2017-03-22 16:01] musm commented on #120
bump

[2017-03-23 02:32] #120 closed

[2017-04-05 16:22] omus opened #124 "Support submit from Appveyor"
The [Codecov submit function](https://github.com/JuliaCI/Coverage.jl/blob/e8008cc90f61a48ef293cbf6e6a822bd532aabf9/src/codecovio.jl#L67) only works from within Travis CI. I found the note below while getting the Repository Upload Token on Codecov:

From this comment and from inspecting the codecov-bash source it should definitely be possible to support Appveyor. The relevant Appveyor environmental

[2017-04-05 17:48] omus commented on #124
I tried to make a work around with adding this to my `appveyor.yml`:

[code]

Unfortunately this doesn't work and crashes when trying to evaluate [`ENV["TRAVIS_BRANCH"]`](https://github.com/JuliaCI/Coverage.jl/blob/e8008cc90f61a48ef293cbf6e6a822bd532aabf9/src/codecovio.jl#L70)

[code]

[2017-04-05 17:51] omus commented on #124
Trying to use `submit_generic` as an additional work around.

[2017-04-05 21:07] omus commented on #124
I got the following to submit coverage information on Julia 0.4 (newer Julia versions have an [issue](https://github.com/JuliaLang/julia/issues/21289)):

[code]

[2017-05-13 18:17] #124 closed

[2017-06-29 15:30] rofinn opened #130 "Tag a new release for appveyor support."
Low priority, but I'm getting this error on appveyor.
[code]
Any idea why it would think it was on travis?

The appveyor file is https://github.com/invenia/Keras.jl/blob/master/appveyor.yml.

[2017-06-29 16:05] tkelman commented on #130
master or release of Coverage.jl? guess we haven't tagged since https://github.com/JuliaCI/Coverage.jl/pull/126 was merged

[2017-06-29 16:42] rofinn commented on #130
Yeah, it would be using a release of Coverage.jl

[2017-06-30 03:41] #130 closed

[2017-06-30 03:47] rofinn commented on #130
Thank you!

[2017-06-30 03:49] tkelman commented on #130
No problem, thanks to you and your colleagues for caring more about coverage than I do.

You don't need appveyor coverage on julia 0.4, do you? We haven't technically dropped 0.4 support on master here yet but to be on the safe side I made that release 0.5-only in metadata for now.

[2017-06-30 04:02] rofinn commented on #130
No, I think we've mostly dropped 0.4 support on our end.

[2017-07-19 19:18] omus commented on #98
I think we should delete the [non-interactive logic in Coverage.jl](https://github.com/JuliaCI/Coverage.jl/blob/08f64bcc43ccac1b10382383db40942997c6669f/src/memalloc.jl#L58-L62) as it is an issue for scripts which import Coverage and it's rather trivial to do with:

[code]

[2017-07-21 00:55] jgoldfar commented on #98
It would probably be prudent to find a way to estimate how much that would break, seeing as it was added for a reason at some point.

[2017-08-19 23:57] mistguy opened #132 "Wrong missing lines"
Using Coverage.jl, my repository has some false missing lines such as `end` and comments.

see https://codecov.io/gh/mistguy/Hop.jl/src/8f204ade24270ee1b32a794a94b2078b35cb9a97/src/Hop.jl

[2017-08-23 01:08] mistguy commented on #132
Related: https://discourse.julialang.org/t/is-there-a-problem-with-codecov-and-nightly/5517

[2017-08-28 05:40] kmsquire commented on #132
Also seen in DataStructures.jl, e.g.: https://codecov.io/gh/JuliaCollections/DataStructures.jl/compare/7178c6082cc973599bd3ec897eaa8d430c112b98...625bcae0ff54a0af08b57991197ca996bbb5065e/src/src/balanced_tree.jl

[2017-09-04 03:40] bramtayl commented on #132
Anyone have any breadcrumbs? Causing me some issues and I'd be happy to take a stab if I knew where to start

[2017-09-04 05:41] fjarri commented on #132
For what it's worth, here are my observations:
- Coveralls still displays the coverage correctly, the problem only appears with Codecov
- When my package is tested on Travis, the first platforms to finish are v0.6 Mac and Linux; after they submit their results, Codecov displays the correct (high) coverage. When the first nightly result comes in (usually from Linux, but I don't think it's important

[2017-09-04 12:47] iamed2 commented on #132
My guess is that the nightly version is adding (uncovered) code lines which weren't marked as code lines in the previous versions.

[2017-10-26 18:38] Balinus opened #138 "Adding ClimateTools.jl to list of package"
Hello, thanks for your hard work!

[ClimateTools.jl](https://github.com/Balinus/ClimateTools.jl) is using Coverage.jl for CI.

Thanks!

[2017-11-13 16:58] kmsquire opened #139 "Exclude `@static` lines from required coverage count"
Relevant location: https://coveralls.io/builds/14165929/source?filename=src%2Faccumulator.jl#L29

(I realize that this package isn't really maintained well right now, but in case I get some time or someone has an itch to scratch...)

[2017-11-13 17:38] tkelman commented on #139
Might be better to collect coverage data from multiple separate runs and aggregate them? Assuming this is usually a platform or version-of-julia thing.

[2017-11-14 03:14] kmsquire commented on #139
For some reason, I can’t see the file in the link above, but it seems that coverage data is already aggregated across multiple runs. It’s the `@static if VERSION < ...` line itself which has no coverage, which is obviously wrong.

[2018-01-23 19:51] #138 closed

[2018-03-15 17:09] platawiec opened #159 "Bitbucket Pipelines Codecov submission no longer works"
I previously used Coverage.jl in Bitbucket pipelines without any issues. With the newest update to LibGit2, I am getting an error. I have a private Docker container with all my dependencies. The build script looks like:

[code]
The testing and file coverage generation goes fine. Where previously it would submit the report, I now get:
[code]

I will investigate this and update if I can find a way t

[2018-03-15 17:41] platawiec commented on #159
I think I've found the issue. The docs mention:

https://github.com/JuliaCI/Coverage.jl/blob/466bccda85dc994f5b34e7d8d86e1635fedbaf69/src/codecovio.jl#L161-L168

But the actual function for `submit_local` is:
https://github.com/JuliaCI/Coverage.jl/blob/466bccda85dc994f5b34e7d8d86e1635fedbaf69/src/codecovio.jl#L169

Namely, `dir` is set to `joinpath(pwd(),"..")`, not `pwd()` as the documentation st

[2018-03-15 18:43] ararslan commented on #159
@kshyatt Do you remember why we had to use `joinpath(pwd(), "..")`?

[2018-07-30 09:44] furio opened #171 "Coverage error when processing folder"
I've noticed this while building on Travis and submitting to Coveralls.io, but it happens also locally.

Invoked line on Travis/locally:
`cd(Pkg.dir("LARLIB")); using Coverage; Coveralls.submit(process_folder())`

Log of the error:
[code]

Error on Travis (same):
https://travis-ci.org/cvdlab/LARLIB.jl/builds/409758726#L627

Julia source of the project is here:
https://github.com/cvdlab/LARLIB.jl

[2018-07-31 17:37] somil55 opened #172 "Coverage missing lines"
Codecov is showing missing coverage for few lines but the next executed line has coverage.
https://codecov.io/gh/JuliaGraphs/LightGraphs.jl/compare/da7e055a3173859a294e657be9ac85e10f3a5087...d7ee43a28459f3a6533116a5905d8dd5c44fcd0c/diff

[2018-07-31 19:29] SohamTamba commented on #172
[code]
Some lines are marked as `0` when they should be marked as `-`

[2018-09-10 23:25] simonbyrne opened #173 "Change REPO_TOKEN to COVERALLS_REPO_TOKEN"
Since both coveralls and codecov can co-exist simultaneously. Also, this is the name suggested in https://github.com/coveralls-net/coveralls.net/wiki/CI-Integrations#appveyor

[2018-09-10 23:45] simonbyrne commented on #173
Actually the real reason I want it is that I can then use its existence to automatically upload coverage from Appveyor/Travis, see https://github.com/JuliaCI/Appveyor.jl/pull/14

[2018-09-26 08:41] maxbennedich opened #175 "Coveralls integration stopped working around 2018-09-20"
This seems to be a global issue, I've checked several packages, and they all started failing around Sept 20. This is what happens during submission of coverage:
[code]
See example of full stack trace in [this build](https://travis-ci.org/JuliaData/DataFrames.jl/jobs/433126893#L1380).

Codecov still works.

[2018-10-01 21:45] vchuravy commented on #175
x-ref: https://github.com/JuliaWeb/HTTP.jl/issues/245#issuecomment-414847061

[2018-10-01 22:07] samoconnor commented on #175
Passing a `HTTP.Form` as the body and setting the `Content-Type` should do the trick:
[code]
[code]

[2018-10-01 22:13] samoconnor commented on #175
Note: this works because `HTTP.Form` is a readable `IO`. So the generic `HTTP.request` support for sending a body from an `IO` is used.

[2018-10-01 22:36] samoconnor commented on #175
I think the best thing to do is add something like this to HTTP.jl:
[code]
Then client code will be able to do:
[code]

[2018-10-01 23:11] samoconnor commented on #175
See https://github.com/JuliaWeb/HTTP.jl/commit/01a2cff816e3cd6095990b80167f216cb26e906c

[2018-10-16 20:29] ronisbr commented on #175
Hi guys! Is there any workaround for this bug ?

[2018-10-19 12:29] fingolfin opened #178 "amend_coverage_from_src! completely broken in Julia 0.7+"
There are multiple problems with it. For starters, consider this code from `parser.jl`:
[code]

The `_parse` reads the *whole file* referred to by `io`, and then afterwards computes `position(io)`, which of course now points to the end of the file. This is easy to fix, but then the problem goes on in `amend_coverage_from_src`, which looks as if it repeatedly calls `_parse` -- but of course after t

[2018-10-19 12:31] fingolfin commented on #178
The effect of this is that coverage will be reported as too high in many cases. That's how I noticed it: we got 100% coverage reported... Which would have been nice, except it's super far from reality :-(

[2018-10-19 14:44] fingolfin commented on #178
Note that I also had to change `flines += linestart-1` to `flines .+= linestart-1`, at least with Julia master branch (so perhaps with PR #161 applied, it works in Julia 0.7, but I guess not in 1.0... ?)

[2018-10-21 21:39] fingolfin commented on #171
I think this is fixed by PR #179

[2018-10-24 07:05] fingolfin commented on #175
This is fixed by PR #179

[2018-10-24 07:29] fingolfin opened #180 "Setup tests for Coveralls integration, fix submit_token and query_git_info"
For Codecov integration, there are several offline tests in `test/runtests.jl`, but not so for Coveralls. This should be changed. Esp. since I suspect some of the currently untested functions, like `submit_token`, are currently broken (`submit_token` should likely receive the same fix as `submit` for it use of `HTTP.post`; see issue #175). I'd also rename `submit_token` to `submit_local` as that (

[2018-10-24 20:53] #171 closed

[2018-10-24 20:53] #175 closed

[2018-10-24 20:53] #178 closed

[2018-10-25 09:21] fingolfin opened #181 "Inconsistent badges in the README"
The README.md has these badges at the top:
[code]
rendering as
[![Coverage](http://pkg.julialang.org/badges/Coverage_0.6.svg)](http://pkg.julialang.org/?pkg=Coverage)
[![Coverage](http://pkg.julialang.org/badges/Coverage_0.7.svg)](http://pkg.julialang.org/?pkg=Coverage)

For me, they show the versions 0.6.0 (for Julia 0.6) resp. 0.5.3 (for Julia 0.7).

* why is 0.5.3 shown for Julia 0.7, and not a

[2018-10-25 16:04] cdsousa commented on #175
This seems not be corrected yet, at least for DataFrames.jl, see https://travis-ci.org/JuliaData/DataFrames.jl/jobs/443235134 line 1000.

[2018-10-25 21:07] ararslan commented on #175
Once the next version of Coverage is merged into METADATA we should be good.

[2018-10-25 21:18] ararslan commented on #181
All good questions, I'll take them one at a time.

1. > Why is 0.5.3 shown for Julia 0.7, and not at least 0.6.0, or even better, 0.6.1?

   For some background, [PackageEvaluator](https://github.com/JuliaCI/PackageEvaluator.jl) runs every other day and it's what updates badges and the pkg.julialang.org site. It is sad and broken and unmaintained. It is being superseded by a new system, which is n

[2018-10-25 21:48] fingolfin commented on #181
Thank you for the explanations!

[2018-10-25 22:14] ararslan commented on #181
No problem. I'm going to close this issue since there isn't really anything actionable to be done here.

[2018-10-25 22:14] #181 closed

[2018-10-25 23:06] #159 closed

[2018-10-25 23:34] fingolfin commented on #100
I believe this issue is obsolete and can be closed: the offending call to `dump` at the end of `Coveralls.submit_token` was replaced in commit e5f0f02196257560c1f5e9dd54e22456bcc9c7e5

[2018-10-25 23:36] #100 closed

[2018-10-25 23:38] fingolfin commented on #84
It seems the issue is no longer present in https://coveralls.io/builds/19030092/source?filename=src/resources/stores.jl so I guess this can be closed?

[2018-10-25 23:41] #84 closed

[2018-10-26 18:04] #173 closed

[2018-10-29 19:26] ronisbr opened #187 "Coverage information does not seem to be right"
Hi guys!

After the new version of Coverage, the coverage information does not seem to be right. Take a look, for example, at the function `compose_rotation` here:

https://coveralls.io/builds/19787299/source?filename=src/compose_rotations.jl#L53

It says that it is not tested at all. However, take a look at the test here:

https://github.com/JuliaSpace/ReferenceFrameRotations.jl/blob/6fd8162b5195

[2018-10-29 20:10] ronisbr commented on #187
By the way, I am also wondering why it is marking this line as it was not executed:

https://codecov.io/gh/JuliaSpace/ReferenceFrameRotations.jl/src/master/src/DCM.jl#L345

whereas the surrounding lines were executed.

[2018-10-29 20:17] ronisbr commented on #187
Using `--inline=no` seems to fix the problem. However, the tests take ages to complete. Is there any other workaround?

[2018-10-29 20:50] ronisbr commented on #187
And I could not use `--inline=no` in Travis. It is working only on local analysis. The command I used was:

    julia --check-bounds=yes --color=yes --inline=no -e "VERSION >= v\"0.7.0-DEV.5183\" && using Pkg; Pkg.test(\"ReferenceFrameRotations\", coverage=true)"

[2018-10-29 20:53] ararslan commented on #187
Sounds like https://github.com/JuliaLang/julia/issues/28192

[2018-10-29 20:56] ronisbr commented on #187
@ararslan yes, maybe. However, I started to see the problem today. The last coverage result, which was 2 days ago, was working perfectly.

[2018-10-29 21:02] ararslan commented on #187
cc @fingolfin

[2018-10-29 21:19] ararslan commented on #187
Yeah looking around at various PRs with coverage integration, I think we're going to need to revert the latest changes to this package unless we can come up with a quick fix. Something is very wrong.

[2018-10-29 21:19] fingolfin commented on #187
The old coverage was "accidentally correct". The problem is that due to a bug in Coverage.jl, it reported lines that do not contain code, and lines that are not covered, the same way. You can see that in e.g. https://coveralls.io/builds/18398285/source?filename=src/compose_rotations.jl only one line is marked green, but no lines red; so that means it thinks that exactly that one line contains code

[2018-10-29 21:29] fingolfin commented on #187
What did you try? I am looking at https://github.com/JuliaSpace/ReferenceFrameRotations.jl/blob/master/.travis.yml now. I assume you edited the four calls to Julia there to insert `--inline=no`? And that then did not help (tested how? via a PR to your own project?)

[2018-10-29 21:34] KristofferC commented on #187
Currently, Pkg would have to be tweaked to run the tests with `--inline=no`.

[2018-10-29 23:47] ronisbr commented on #187
Hi @fingolfin,

I modified the script in travis to execute the following command in my project:

    julia --check-bounds=yes --color=yes --inline=no -e "VERSION >= v\"0.7.0-DEV.5183\" && using Pkg; Pkg.test(\"ReferenceFrameRotations\", coverage=true)"

I have reverted the commit because I saw no difference.

@KristofferC,

I understood that something inside Pkg must change to fix this. I have two

[2018-10-29 23:48] KristofferC commented on #187
No super good workaround at the moment.

Please open an issue at Pkg.jl.

[2018-10-30 01:41] ronisbr commented on #187
Done, should we close this one since it is not related to this package?

[2018-10-30 03:04] tkoolen commented on #187
While I get the sentiment, I personally prefer accidentally correct over way off until the real issue is fixed in Base. It wasn't perfect, but it certainly was closer to the truth.

[2018-10-30 06:32] fingolfin commented on #187
But always reporting 100% is only closer to the truth if you already know your coverage is above 50%. I'd also argue that it is always useless. You might as well turn off coverage completely.

[2018-10-30 11:51] tkoolen commented on #187
Thank you for the Pkg PR and also your efforts in maintaining this package.

Coverage 0.6.0 was not always reporting 100% for me, or for many other packages. Check out e.g.

https://codecov.io/github/JuliaArrays/StaticArrays.jl?branch=master

I'm just saying that stuff like https://codecov.io/gh/JuliaArrays/StaticArrays.jl/src/1683f798e0dcb8725768407053a45ae48434fed7/src/eigen.jl#L39 makes me comp

[2018-10-30 12:14] ronisbr commented on #187
For ReferenceFrameRotations, when I tested the coverage off-line using `inline=no`, the results seem much more accurate. I could check this because the functions and the tests are simple.

[2018-10-30 12:33] fingolfin commented on #187
@tkoolen yes, for some functions, the coverage will indeed be less than 100%; but still, coverage is massively overreported in most cases. Just try adding a big function to your code which is not called from anywhere. Doing that should decrease coverage, obviously. But it won't with Coverage.jl 0.6.0, because that function won't be recognized as code.

I agree that https://codecov.io/gh/JuliaArray

[2018-10-30 14:04] fingolfin commented on #187
I guess a compromise workaround for now could be to do this: instead of marking all code in all functions as, well, code (which causes the coverage drop people are seeing), "only" do so for code in functions for which Julia has marked zero lines as covered. That would hide e.g. the problem in https://codecov.io/gh/JuliaArrays/StaticArrays.jl/src/1683f798e0dcb8725768407053a45ae48434fed7/src/eigen.j

[2018-10-30 14:38] tkoolen commented on #187
Yeah, that's not a bad idea.

[2018-10-31 06:07] sbromberger commented on #187
LightGraphs had a coverage score of 99.8% but it should've been 100%. Now it's got a coverage score of 66%, and no coverage changes have occurred. The coverage reports show lines that are definitely covered but show no coverage.

[2019-01-24 03:35] ararslan commented on #175
Seems to have been un-fixed with HTTP 0.8: https://travis-ci.org/JuliaDiffEq/ModelingToolkit.jl/jobs/483694231#L681-L691

[2019-01-28 02:37] bramtayl commented on #187
Hmm. Well I'm trying to push up coverage of LightQuery right now. It's tested on 1.1 and nightly. Some parts of the coverage report definitely do not look right, e.g. see https://codecov.io/gh/bramtayl/LightQuery.jl/src/master/src/LightQuery.jl#L277

[2019-01-28 20:15] tkoolen opened #198 "Coverage submission broken: undefined symbol: mbedtls_x509_crt_verify_restartable"
See https://github.com/JuliaWeb/MbedTLS.jl/issues/193 for more info.

[2019-02-12 20:47] davidanthoff opened #199 "Function signature is reported as uncovered"
I have lots of functions that look like this:

[code]

The ``*.cov`` file part for this one looks as follows, both on julia 1.0 and 1.1:

[code]

When I process this with Coverage.jl, then the first line here gets marked as code that is not covered, which seems wrong.

I think this is distinct from the inline issue discussed in https://github.com/JuliaCI/Coverage.jl/issues/187.

I'm wondering now

[2019-02-21 07:56] martinholters opened #202 "Failure on julia 0.7: Coverage 0.7.0 incompatible with HTTP 0.8.0?"
From a recent Travis job on Julia 0.7:
[code]
Pinning HTTP to 0.7.1 (instead of the current 0.8.0) seems to fix this. I've noticed that Julia 1.0 and later use Coverage 0.8.1, while Julia 0.7 uses Coverage 0.7.0. So might it be that Coverage 0.7.0 is incompatible with HTTP 0.8.0. Is that the case? Then we should update the compat info in METADATA.

(Note: At first I thought this might be an issue

[2019-02-25 13:04] martinholters commented on #202
Given #197, I think we should upper-bound HTTP to be < 0.8.0 for Coverage up to (including) 0.8.0. (The fix made it into 0.8.1). Will open at PR to METADATA.

[2019-03-01 08:28] martinholters commented on #202
Resolved by https://github.com/JuliaLang/METADATA.jl/pull/21711

[2019-03-01 08:28] #202 closed

[2019-03-03 20:53] #92 closed

[2019-03-03 22:07] fingolfin commented on #198
Note sure if we can or should do something about this in Coverage.jl? To me, it sounds like an issues that needs to be resolved in MbedTLS.jl. But perhaps we can workaround it somehow for project using Coverage.jl? If so, a PR would be highly welcome!

[2019-03-05 13:27] #199 closed

[2019-03-05 13:29] fingolfin opened #206 "Add more tests for Coveralls integration"
We should test Coveralls integration at least as good as we do for Codecov.

[2019-03-05 13:30] fingolfin commented on #180
Most of this was done in PR #196, "only" the tests for Coveralls integration are missing; to reduce confusion, I put that into a new issue #206.

[2019-03-05 13:30] #180 closed

[2019-03-05 13:37] fingolfin commented on #139
@kmsquire the link you gave is broken. (I'd recommend in general to always write self-contained issue descriptions, and only use links to provide additional information or examples).

As it is, the suggestion to collect and merge code coverage for different build runs and configurations seems plausible to me. Are you sure this does not work? Of course if none of the builds hits the particular cond

[2019-03-05 13:39] fingolfin commented on #172
@somil55 The link you gave is broken. (I'd recommend in general to always write self-contained issue descriptions, and only use links to provide additional information or examples).

Without further information on what the issue is / how to reproduce it, I am afraid there is nothing we can do to help. I am therefore closing this now. Please feel free to re-open it should you be able to provide add

[2019-03-05 13:39] #172 closed

[2019-03-05 13:43] fingolfin commented on #106
I am afraid this question is out of scope for this package.

[2019-03-05 13:44] fingolfin commented on #106
(And I am afraid I don't know any answer to that question, else I'd still give it)

[2019-03-05 13:46] fingolfin commented on #132
I just had a look at https://codecov.io/gh/mistguy/Hop.jl/src/master/src/Hop.jl and could not see any `end` statements that were "red", so I am assuming this issue has been resolved in the meantime. If not, feel free to reopen and provide additional details. Thank you!

[2019-03-05 13:46] #132 closed

[2019-03-05 14:02] fingolfin commented on #187
@adamglos92 I believe this is an issue in Julia, not in Coverage.jl

[2019-03-05 14:02] fingolfin commented on #187
@bramtayl so the issue is that the `module LightQuery` line is marked as code? That seems indeed a bit odd (but also harmless).

[2019-03-05 14:02] fingolfin commented on #187
@leethargo Codecov accumulates all coverage reports together into one; that's very handy if one has code that only is used in certain configurations or environments. Coveralls also in principle can do this, but it's very easy to trip up, as I recently learned the hard way, so I'll refrain from making claims about here ;-)

[2019-03-05 15:39] bramtayl commented on #187
I did some digging into this a bit ago. I ran coverage locally and took a look at the results. What I found was that locally, a lot of lines that were code weren't actually marked as code, so my coverage was 100%. And then online at codecov, there were definitely many lines marked as uncovered that were indeed covered. I spent a lot of time trying to get coverage up to 100% but it currently sits a

[2019-03-05 15:47] sbromberger commented on #187
I'm still reporting out 93% even though we've got ~100% code coverage. There are simple lines that are simply not counted. I don't know how to work around or fix this, but we're going to have to remove the PR checks that ensure a certain level of coverage unless we can get more accurate reporting.

[2019-03-06 05:38] davidanthoff opened #207 "Tag a release"
@fingolfin Could you tag a release? Would be good to get the recent fixes out into the ecosystem, and we have a project that is waiting for this with some urgency :)

[2019-03-06 08:44] fingolfin commented on #198
This has been fixed now, yay!

[2019-03-06 08:44] #198 closed

[2019-03-06 17:24] fingolfin commented on #187
You may want to check out PR #208. In it, I added an environment variable `DISABLE_AMEND_COVERAGE_FROM_SRC` which you can set to `yes` to disable the heuristic which marks additional lines as code. While I still think this is problematic on its own, I think it's only fair to let everybody choose which way they prefer, at least until we one day hopefully have a proper solution

Example configuratio

[2019-03-06 17:29] sbromberger commented on #187
ref: https://github.com/JuliaGraphs/LightGraphs.jl/pull/1163

[2019-03-06 18:00] fingolfin commented on #187
I forgot to mention: of course to test with `DISABLE_AMEND_COVERAGE_FROM_SRC` right now, you'll have to make sure that my `mh/DISABLE_AMEND_COVERAGE_FROM_SRC` branch of Coverage.jl is installed, not that last release version, which of course does not yet have this experimental change... I'll try to either provide instructions for that, or perhaps we can just make a release with `DISABLE_AMEND_COVE

[2019-03-06 18:06] ararslan commented on #207
Max, all that's required is to make a release using the GitHub web UI. We have [Attobot](https://github.com/attobot/attobot) installed organization-wide here, and that takes care of the remainder of the release steps.

[2019-03-06 18:18] ararslan commented on #187
Having the change on master with some documentation and a note clearly stating that it's experimental seems like a reasonable course of action to me.

[2019-03-06 18:21] bramtayl commented on #187
Can you give more details on this, @fingolfin ?

[2019-03-07 09:04] fingolfin commented on #207
I'll take care of it once PR #208 is ready and merged.

[2019-03-07 13:13] fingolfin commented on #187
@bramtayl details on what? on why the heuristic is needed (and thus why disabling it is problematic)? This was extensively discussed in this issue already, and also in several other issues and PRs. In addition, I've added something about it to the README in PR #208.

[2019-03-07 14:14] fingolfin opened #211 "Add test inputs for `analyze_malloc_files`"
Function `analyze_malloc_files` is currently mostly not tested. To fix that, we should add some `*.mem` file to `test/data`. But I have no idea how to generate those. If anybody wants to chip in, a PR would be most welcome.

[2019-03-08 07:38] #211 closed

[2019-03-08 09:26] #206 closed

[2019-03-08 11:34] fingolfin commented on #207
See https://github.com/JuliaLang/METADATA.jl/pull/22006

[2019-03-08 11:34] #207 closed

[2019-03-08 12:09] fingolfin commented on #187
I have just released Coverage.jl version 0.9.0. I hope many of you will see some improvement in coverage thanks to PR #210. I urge you to try that first. If you are still unhappy, you can try the `DISABLE_AMEND_COVERAGE_FROM_SRC` env var described above (and also described in `README.md`), to see if helps; but I'll repeat once more that this also risks missing completely uncovered functions, as th

[2019-03-08 17:20] ararslan commented on #207
Thanks for taking care of this!

[2019-03-09 02:22] ronisbr commented on #187
@fingolfin Thanks! It is indeed much better on my tests.

[2019-03-09 02:30] sbromberger commented on #187
yup. we're back up to 99.11% coverage now. Thanks!

[2019-03-09 14:38] fingolfin commented on #187
Glad to hear this. And @sbromberger tested `DISABLE_AMEND_COVERAGE_FROM_SRC`, and you can see the bad thing that happens if our workaround heuristic is completely disabled using `DISABLE_AMEND_COVERAGE_FROM_SRC`: the coverage percentage goes up, because unused functions are ignored. Example:  https://codecov.io/gh/JuliaGraphs/LightGraphs.jl/src/c376fd3c947b41f1eea0315a05fff6c069711cd0/src/Parallel

[2019-03-10 17:52] fingolfin commented on #187
I think we could close this now... @ararslan ?

[2019-03-10 17:57] sbromberger commented on #187
Just a final question: what should we expect if we turn off `DISABLE_AMEND_COVERAGE_FROM_SRC` ?

[2019-03-10 18:35] fingolfin commented on #187
I am not sure I understand the question... turn off the DISABLE flag? As in, *not* use it? And what do you want to know about that?!

[2019-03-10 18:37] sbromberger commented on #187
ah, never mind. We tried both ways in LG and I concluded that we're going to not include the DISABLE flag. We get accurate and good results without it.

[2019-03-10 19:16] ararslan commented on #187
I think you're in the best position to determine whether this is sufficiently resolved, so I trust your judgement on whether this should be closed.

[2019-03-10 21:59] fingolfin commented on #187
I'll close it then; but of course anybody is free to open a new issue if they still see problems anywhere

[2019-03-10 21:59] #187 closed

[2019-03-11 09:06] adamglos92 commented on #187
I have still one small issue: one line (which is uncovered and next to another uncovered line) seems to be not considered, i.e. in coveralls it is not marked.
https://coveralls.io/builds/22042972/source?filename=src/qwdynamics/qwsearch/maximizing_function.jl#L65

[2019-03-11 09:08] adamglos92 commented on #187
Similarly one line which should be marked as covered is not marked
https://coveralls.io/builds/22042972/source?filename=src/qwmodels/szegedy/szegedy_stochastic.jl#L68

[2019-03-11 09:47] fingolfin commented on #187
@adamglos92 Are you *sure* that line 65 in your first example is executed? Have you verified, e.g. by printing or throwing an exception there? As to the second example: I only see a line of code that is not marked as code, so neither marked as covered nor as uncovered. The cause of this has been discussed extensively in this PR, and also is discussed in the README.md section on `DISABLE_AMEND_COVE

[2019-03-11 10:58] adamglos92 commented on #187
@fingolfin It is not, but I think I get the idea now. So if in case there is multiple lines weren't executed, it is not promised that each is marked as uncovered. Can I expect that at least one (as in my case) is marked as uncovered?
Please ignore second example, the README.md clarifies it.

[2019-04-10 15:04] joa-quim opened #224 "On Windows the dir separator must be '\\' and not '/'"
[code]

[2019-04-10 15:10] fingolfin commented on #224
It is unclear to me what the problem here is. What are you trying to do? What happens? What would you expect to happen instead?

Which versions of Julia and JuliaCoverage?

[2019-04-10 15:15] joa-quim commented on #224
Well, I thought it was clear. In my first command above that used ``"src/psconvert.jl"`` the (wrong) answer is ``Coverage file(s) for src/psconvert.jl do not exist.``. Whilst the second, that uses ``"src\\psconvert.jl"`` correctly says
[code]

[code]

Coverage v0.9.1

[2019-04-10 16:09] joa-quim commented on #224
One more thing. This came up because I was following the example in the README that says
[code]
So, maybe it's just a question of updating the README example (though the form with ``/`` should work too)

[2019-04-10 18:17] ararslan commented on #224
The general way to do this is `joinpath`, which automatically handles path separator differences across platforms. So the README (and any such internal uses) should simply be `process_file(joinpath("src", "MyPkg.jl"))`.

[2019-04-12 21:38] fingolfin commented on #224
I don't see what is wrong about that answer, unless you happen to have a file with that name (including a slash in the name) around...

But of course the example in the README is indeed misleading! So I'll follow what @ararslan suggested.

[2019-04-12 21:39] #224 closed

[2019-04-12 21:47] joa-quim commented on #224
What is wrong with that answer is simply that it is WRONG. The file does exist as is demonstrated by the answer to the command that uses ``"src\\psconvert.jl"``

[2019-04-13 05:49] fingolfin commented on #224
It is only wrong if one assumes that slashes should silently be converted to backslashes on Windows. AFAIK, neither Julia nor Coverage.jl promise to do that. Thus, your assumptions were wrong, and you were using an invalid path. And so the output is exactly what I'd expect to see.

[2019-06-15 03:05] kiranshila opened #225 "Permission denied error"
I'm getting an interesting result with Travis right now, as coverage seems to not be working.

I am getting a permission denied error when trying to modify the Manifest.toml even though its been chmod'ed to 777.

Check out the stack trace

[code]

Any help would be appreciated. Thanks!

[2019-06-17 13:41] fingolfin commented on #225
Weird. Perhaps try to insert the equivalent of `ls -al /home/travis/build/kiranshila/Marconi.jl` right before the problematic build step, to see if there is any observable issue with file permissions on either the directory or they file?

[2019-06-17 18:53] kiranshila commented on #225
Yeah, weird, my permissions for just Manifest are messed up and it is the only file owned by root.

[2019-06-17 21:08] kiranshila commented on #225
I just added a chmod before I `Coverage.submit`, and that seemed to work. Hacky fix, but I do not think it is a problem with your tool. Thanks for your help!

[2019-06-17 21:08] #225 closed

[2019-06-21 18:48] vlandau opened #226 "Support for GitLab CI?"
I'm currently developing a Julia package using Gitlab and I'm hoping to use the built in CI (GitLab CI). I've got an example repo [here](https://gitlab.com/vlandau/GitlabJuliaDemo.jl/), and when I run the pipeline I get this error:
[code]

I'm guessing this is because I'm using GitLab's CI, but I may have an error in my yml. Is Coverage.jl only compatible with Travis and AppVeyor?

Thanks for any

[2019-06-21 18:55] vlandau commented on #226
From [this code](https://github.com/JuliaCI/Coverage.jl/blob/master/src/coveralls.jl#L70-L97), I see that GitLab CI must not be supported. Is it a reasonable feature request to get that support for GitLab CI added?

[2019-06-21 19:36] ararslan commented on #226
It's possible to use this package to collect/prepare the coverage data, but you'll have to do the submission step manually, since that's the part that isn't supported in this package for GitLab. Perhaps @omus could provide some guidance here, being an expert on GitLab?

[2019-06-21 19:46] vlandau commented on #226
Thanks @ararslan. I'm had also wondered if it might instead be possible to submit the results "locally" from within the CI container via `julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit_local(process_folder())'`, since this would also achieve the goal of having everything integrated, but when trying that, I got this error:
[code]
(I replaced the actual CODECOV token in tha

[2019-06-21 20:28] vlandau commented on #226
Eureka! I got it working using `julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit_local(process_folder())'` as above in the .gitlab-ci.yml

The error I was reporting above was actually due to putting the CODECOV_TOKEN environment variable in quotes... whoops. I removed the quotes and all is working now!

[2019-06-21 20:28] #226 closed

[2019-06-21 21:17] ararslan commented on #226
Fantastic!

[2019-06-22 04:35] tpapp commented on #226
Thanks for coming up with this. I will add it to https://gitlab.com/tkpapp/GitlabJuliaDemo.jl

[2019-06-26 14:23] philoez98 opened #227 "Coverage fails on travis Ci with julia nightly"
Hello, while trying to build with travis and Julia nightly it fails with this stacktrace:

[code]

I know that Julia nightly is not supported yet, but maybe this will give some insight on the problem.

[2019-06-26 16:01] ronisbr commented on #227
In my case, it is working with macOS but not with Linux. However, the macOS commit (`f6049d6d25`) is behind the Linux one (`d95841934a`). Thus, comparing the differences, this bug was created by this commit:

https://github.com/JuliaLang/julia/commit/cef655a68a4e824cbe7cca582256d61aa72eb725

which removed the `match_data` field from `Regex`.

[2019-06-26 16:03] philoez98 commented on #227
@ronisbr thanks forgot to specify, this happens on Linux.

[2019-06-28 12:55] philoez98 commented on #227
As of today it fails also with macOS with the same error.

[2019-06-28 14:30] holgerteichgraeber opened #228 "Coverage not working on travis-ci"
Thanks for a great package!
I am trying to integrate Coverage and codecov.io into my package (`ClustForOpt.jl`).

Even though I have added the required line into my `travis.yml` file, and my test folder is set up similarly to the ones for example in `GeoStats` or `JuMP`, nothing with relation to testing is working.

See here on my testing branch: [https://github.com/holgerteichgraeber/ClustForOpt.

[2019-06-28 14:33] fingolfin commented on #228
Looking at the end of the log of the job you pasted, it says: "Skipping the after_success step, as specified in the configuration.". And indeed, your config has `after_success: skip`. But `after_success` processes the coverage...

[2019-06-28 14:35] fingolfin commented on #227
Please provide a link to a Travis log highlighting the failure.

Note that `Coverage.jl` does not use `match_data` itself, so whatever this is, it seems unlikely to be caused by `Coverage.jl`.

[2019-06-28 14:36] fingolfin commented on #227
Aha, it is in `HTTP.jl`, which `Coverage.jl` uses, see here: https://github.com/JuliaWeb/HTTP.jl/issues/430

[2019-06-28 14:38] holgerteichgraeber commented on #228
Sounds good, I just changed it to `after_success:      ` and left out the `skip`, let's see what happens..

[2019-06-28 14:48] holgerteichgraeber commented on #228
It seems that it didn't make a difference in the run: [https://travis-ci.com/holgerteichgraeber/ClustForOpt.jl/jobs/211855676](https://travis-ci.com/holgerteichgraeber/ClustForOpt.jl/jobs/211855676).

Any other thoughts?

Somehow Coverage/test, none of the like show up in the travis-ci run..

[2019-06-28 15:14] fingolfin commented on #228
Now you provided a custom, empty `after_success:` for your job. You have to remove that erroneous `after_success:` in line 20.

[2019-06-28 15:14] #228 closed

[2019-06-28 15:31] holgerteichgraeber commented on #228
Thanks @fingolfin . Coverage now appears in travis-ci. It didn't run any tests though. Do I need to add anything, run tests seperately? I thought Coverage.jl was going to run the tests in `runtests.jl` automatically and then report that to codecov?

[2019-06-28 15:33] holgerteichgraeber commented on #228
This is the travis run:  https://travis-ci.com/holgerteichgraeber/ClustForOpt.jl/jobs/211869167

[2019-06-28 16:31] fingolfin commented on #228
No it does not run the tests for you. I would recommend that you first read the README carefully, then look at some projects and their `.travis.yml` which use `Coverage.jl`, such as `Coverage.jl`, and some of the dozens of other projects listed in the README.

[2019-06-28 16:42] holgerteichgraeber commented on #228
Thanks @fingolfin . Yes, I looked at several of the projects such as `Geostats.jl` and `JuMP.jl`, which both use `Coverage.jl`.
I understand the travis-ci documentation that it enables coverage automatically: https://docs.travis-ci.com/user/languages/julia/#default-build-and-test-script
It says the default build is

So there is no need to enable testing with coverage separately anywhere?

Based on

[2019-06-28 17:03] fingolfin commented on #228
Travis provides a *default* build script, which indeed runs tests. You, however, are using a custom script, aren't you?

[2019-07-01 21:09] holgerteichgraeber commented on #228
Ok, I think I figured it out, had to add the Pkg.test("mypkg", coverage=true) line to my travis.yml

[2019-07-01 21:59] holgerteichgraeber opened #229 ".codecov.yml not detected"
I am trying to ignore a folder in my repository from coverage.

The .codecov.yml I have added to the root of my project (https://github.com/holgerteichgraeber/ClustForOpt.jl/tree/testing )  seems not to be recognized, codecov.io still counts the folder that I want to be ignored.
Any thoughts on this are appreciated, thank you.

https://codecov.io/gh/holgerteichgraeber/ClustForOpt.jl/tree/testing/s

[2019-07-06 21:26] philoez98 commented on #227
`HTTP.jl` fixed the problem on their part and now `Coverage.jl` works as expected on every platform. I'm closing this issue now.

[2019-07-06 21:26] #227 closed

[2019-08-15 20:28] fingolfin commented on #229
Sounds like a bug in codecov (I have had the exact same issue before). You'll need to raise that with their support, I guesd

[2019-09-14 08:58] utensil opened #232 "No CI support for Github Actions"
When running in Github Actions virtual environment, Coverage.jl will quit with error: `No compatible CI platform detected`, see https://github.com/pygae/GAlgebra.jl/runs/222042245#step:6:37  for details.

According to https://help.github.com/en/articles/virtual-environments-for-github-actions#default-environment-variables , it's possible to do similar things for Github Actions just like other CI s

[2019-09-15 23:03] DilumAluthge opened #234 "Possible bug: Length of `coverage` does not always match number of source lines in file"
Here is a minimal (albeit contrived) example.

In `example_1.jl`, the length of `coverage[1].coverage` is equal to the length of `split(coverage[1].source, '\n')`.

However, in `example_2.jl`, the length of `coverage[2].coverage` is equal to the length of `split(coverage[2].source, '\n')`

Contents of `example_1.jl`:
[code]

Contents of `example_2.jl`:
[code]

Julia session:

[code]

[2019-09-15 23:09] DilumAluthge commented on #229
For what it's worth, the only way that I have been able to get CodeCov to recognize my configuration file is to name it `codecov.yml` (i.e. no leading dot).

When I name it `codecov.yml`, CodeCov seems to recognize it without any problems.

Can you try renaming your file from `.codecov.yml` to `codecov.yml` and see if that works?

[2019-09-16 07:19] fingolfin commented on #229
Thousands of projects use .codecov.yml; whatever it was that fixed your project, I doubt it was the filename.

But codecov is indeed having issues recently. Eg currently, PR comments by Codecov sometimes take several days (!) to arrive for us.

[2019-09-16 07:20] fingolfin commented on #229
Anyway, this is not an issue caused by or fixable by Coverage.jl. Please contact the Codecov support instead.

[2019-09-16 07:20] #229 closed

[2019-09-24 02:37] davidanthoff opened #235 "Tag a release"
Could someone please tag a release? We now have a `master` version that supports new CI platforms, and tagging a new release here is blocking deployment of that right now.

[2019-09-25 18:45] davidanthoff commented on #235
Bump, can someone please tag a release?

Not clear to me who is in charge of this repo, so I'm going to tag some random folks that have worked on it lately and seem to have the necessary rights here to tag: @fingolfin, @ararslan, @vtjnash.

Thanks :)

[2019-09-25 18:58] ararslan commented on #235
https://github.com/JuliaRegistries/General/pull/3822

[2019-09-25 18:58] #235 closed

[2019-09-25 22:18] davidanthoff commented on #235
Thanks, much appreciated!

[2019-09-26 14:44] marekdedic opened #236 "Add instructions for coverage reporting using Pkg.test"
Hi,
the current instructions in the readme say that you should run `julia --code-coverage=user`. While in some cases, this might be applicable, in the case of using `Pkg.test()`, this will not work - the coverage won't get reported. You need to use something like `julia --project -e "using Pkg; Pkg.test(; coverage = true);"`

I don't know whether to replace the instructions or just add this someho

[2019-09-26 14:45] marekdedic commented on #236
Related to #9

[2019-10-11 02:16] ronisbr opened #245 "Duplicated files in Coveralls"
Hi!

All my files are repeated 6 times in Coveralls analysis: https://coveralls.io/github/JuliaSpace/SatelliteToolbox.jl?branch=master. This does not happen with Coverage. I think this must be related to the fact that I was testing against 6 Julia versions. Is it expected?

I am using Coverage analysis by the native support in Travis:

[code]

[2019-10-13 04:19] DilumAluthge commented on #236
I think that these instructions are already in the README, right?

For example, if you look at item 2 under https://github.com/JuliaCI/Coverage.jl/blob/master/README.md#tracking-coverage-with-codecovio, it says:

[2019-10-13 20:33] mkschleg opened #247 "Error when running process_folder locally and with travis"
I'm running into the following error when using the function `process_folder()` both locally and when using travis using Coverage.jl v0.9.3. I'm not sure if I'm missing a step in the process, but I think I'm following the instructions in the README correctly.

I'm creating the *.cov files through `Pkg.test("Reproduce", coverage=true)` if this matters.

[code]

[2019-10-18 12:24] marekdedic commented on #236
Ugh, I missed it down there...

I was talking about the instructions at the top of the readme...

Thanks,
Marek

[2019-10-20 22:19] DilumAluthge commented on #236
@marekdedic Does this seem better? https://github.com/JuliaCI/Coverage.jl/pull/248

[2019-10-21 06:05] marekdedic commented on #236
Definitely, thanks!

[2019-10-29 02:19] #236 closed

[2019-11-10 00:23] DilumAluthge commented on #247
@mkschleg I believe that this issue is caused by a typo in your source code. Can you merge https://github.com/mkschleg/Reproduce.jl/pull/43 and see if this fixes your issue?

[2019-11-10 00:32] DilumAluthge commented on #245
This is an issue with the Coveralls.io service, not with the `Coverage.jl` or `CoverageCore.jl` packages.

The Coveralls.io service does not understand how to correctly merge multiple coverage reports for the same source code file. Therefore, if you go to your Coveralls.io dashboard, you see multiple duplicates of the same source file.

In contrast, the Codecov.io service correctly merges reports

[2019-11-10 06:20] DilumAluthge commented on #247
@mkschleg I looked at the Travis logs (https://travis-ci.com/mkschleg/Reproduce.jl/builds/135796854) for https://github.com/mkschleg/Reproduce.jl/pull/43.

The Travis logs seem to suggest that https://github.com/mkschleg/Reproduce.jl/pull/43 fixes this issue for you.

I am going to close this issue. Let me know if merging https://github.com/mkschleg/Reproduce.jl/pull/43 does not fix this issue for

[2019-11-10 06:20] #247 closed

[2019-11-10 19:47] mkschleg commented on #247
Thanks for helping with this.

[2019-11-15 19:24] vtjnash commented on #245
I happened to be browsing the Coveralls.io docs, and found that it describes how to support this, it's just not automatic like codecov.io. We need to send `parallel=true` in the partial messages (if `env COVERALLS_PARALLEL=true`), then send a final "done" message to merge them and emit the report after all CI runs are completed. Theres examples for various CI provides at https://docs.coveralls.io/

[2019-11-19 23:43] DilumAluthge commented on #245
That seems very doable.

That seems much harder. How would Coverage.jl know all of the CI runs are completed?

[2019-11-19 23:45] DilumAluthge commented on #245
Ah, based off of the link you posted, I see what you mean. You have to set up the post-build webhook with the CI provider.

But what if you have two or more CI providers (e.g. Travis and AppVeyor) and you want to combine all the reports. Do you have to set up post-build webhooks on all of the CI providers? Does Coveralls understand that there are multiple CI providers?

[2019-11-25 23:21] #245 closed

[2019-12-05 02:37] DilumAluthge opened #259 "Install Julia Registrator on this repo?"
Could an admin please install the Julia Registrator GitHub app on this repository?

[2019-12-05 04:55] ararslan commented on #259
It's already enabled for all repos in this org

[2019-12-05 05:00] DilumAluthge commented on #259
For several hours earlier today, the Registrator GitHub app did not respond to me at all :(

This happened across multiple orgs.

Anyway, it is responding again now, so I guess it was an intermittent failure. While it was down, I was still able to use the web UI.

[2019-12-05 05:00] #259 closed

[2019-12-09 06:04] PetrKryslUCSD opened #260 "Weird memory allocation numbers"
With Julia 1.3, julia --track-allocation=user. The measurement was collected during a second run, after clearing the malloc data after the first run. Code fragment from a .mem file:
[code]
How does one interpret the above? The function with this code is called once.
Where does all the allocation come from?

[2019-12-09 06:55] DilumAluthge commented on #260
Is this the raw output that you get from `julia --track-allocation=user`?

If so, you should open this issue on the main JuliaLang/julia repository.

[2019-12-09 07:31] PetrKryslUCSD commented on #260
Good point, done. Thank you.

[2019-12-09 08:43] DilumAluthge commented on #260
This issue has been cross-posted to https://github.com/JuliaLang/julia/issues/34054

[2019-12-12 21:45] vlandau opened #261 "Coverage.jl reporting lines surrounded by covered code as not covered"
I'm noticing issues with a coverage report for my Julia package submitted to codecov showing lines of code as not covered that are surrounded by covered code. There is no control flow in this section of code -- basically, if lines n and n+2 were covered, then line n+1 must have also been covered, but the report is stating otherwise.

It could be something on codecov's end also, but wanted to post

[2020-01-01 02:48] baggepinnen commented on #261
Was the line counted at all? Maybe that line was elided by the compiler in case it counts as neither a hit or a miss. That usually applieds to constant definitions etc.

[2020-01-01 02:53] DilumAluthge commented on #261
@vlandau Can you try running your test suite with inlining disabled, and see if that fixes the problem? I opened a pull request here: https://github.com/Circuitscape/Omniscape.jl/pull/14

[2020-01-02 18:12] vlandau commented on #261
Thanks @DilumAluthge! Trying it now.

[2020-01-02 18:17] vlandau commented on #261
It does seem that the coverage errors were significantly worse when the `after_script` in travis was run after the documentation stage. I added some control for to the `after_script` to only have it run after the Test stage on Linux, and the problem was reduced significantly. There is still one case, [here](https://codecov.io/gh/Circuitscape/Omniscape.jl/src/6c50df65fedac04780b8ec66b41df597ca30a60

[2020-01-02 19:56] vlandau commented on #261
The previous comment above seems to still apply. There are two cases with skipped lines: [here](https://codecov.io/gh/Circuitscape/Omniscape.jl/src/69da613ade300b297ca7cd2299d78c56bf4a9b68/src/run_omniscape.jl#L102...104), and [here](https://codecov.io/gh/Circuitscape/Omniscape.jl/src/69da613ade300b297ca7cd2299d78c56bf4a9b68/src/run_omniscape.jl#L167...171). I can live with this just fine for now,

[2020-01-04 09:44] DilumAluthge commented on #261
In the second case (line 168 of `run_omniscape.jl`), are you sure that the line is being run?

[2020-01-06 16:04] vtjnash commented on #261
Expected to be fixed by https://github.com/JuliaLang/julia/pull/34254

[2020-01-06 16:04] vtjnash commented on #260
Closing as this is being tracked upstream now

[2020-01-06 16:04] #260 closed

[2020-01-06 16:56] vlandau commented on #261
:man_facepalming: I thought I had a test that covered that line but I actually did not! Whoops.

[2020-01-07 12:37] logankilpatrick opened #262 "Readme instructions unclear"
In the readme on step 3 of running the tests with codecov.io, it says to set "codecov: true".

However, in the example linked at the bottom of the readme, none of the repos seem to do that. Is it outdated or just optional? If it's optional, what does it actually do?

[2020-01-09 19:08] #234 closed

[2020-01-24 13:49] logankilpatrick opened #264 "Error running coverage test on travis"
Hey all, I am getting this error on Travis:

[code]

Has anyone seen this or know what do do? My coverage tests pass locally when I run `Pkg.test("MyPkg", coverage=true)`

[2020-01-24 13:53] DilumAluthge commented on #264
This is almost always indicative of a syntax error in your package. What is the package that you are testing? I can take a look.

[2020-01-24 13:54] logankilpatrick commented on #264
It's a private Package sadly, but I'm guessing it's from one of the files in my archive folder. Is there a way to add a ignore to certain files?

[2020-01-24 13:58] DilumAluthge commented on #264
Not yet. See https://github.com/JuliaCI/CoverageTools.jl/issues/33

Can you fix the syntax error in the file? It looks like `src/archive/model.jl` is probably the culprit. You don't have to get the file running. You just need to fix the syntax error. Looks like maybe a missing comma.

The other option is to rename the file from `src/archive/model.jl` to `src/archive/model.jl.ignore` or something l

[2020-01-31 11:45] logankilpatrick commented on #264
Fixed all those syntax errors and it works like a charm!

[2020-01-31 11:45] #264 closed

[2020-02-17 17:01] vlandau commented on #261
Appears to have been fixed (presumably by [JuliaLang/julia#34254](https://github.com/JuliaLang/julia/pull/34254)). Line count is still not perfect (some lines are skipped), but there are no longer any false negatives in the report (e.g. lines that were covered that are being reported as not covered). Closing this since it was about those false negatives.

[2020-02-17 17:01] #261 closed

[2020-04-14 04:14] sbromberger opened #269 "Coverage misses on macros that work on functions"
Hi all,

`@traitfn` functions (defined using SimpleTraits) are no longer counted as covered. (They used to be.)

[Here's an example](https://codecov.io/gh/JuliaGraphs/LightGraphs.jl/src/09caa8a50b9060e7ed0781739084b310f93cafc0/src/Cycles/johnson.jl#L56) - it seems that even though the function body is being covered, the declaration isn't.

Any way we could restore the previous behavior? Thanks.

[2020-04-22 15:21] DilumAluthge opened #273 "Travis is failing on Julia nightly"

[2020-06-14 09:25] aminya opened #275 "Misses macros that work on functions"
Coverage misses the first line of this function definition
[code]
https://codecov.io/gh/aminya/AcuteML.jl/src/master/src/xmlutils/findcontent.jl#L45

seems to be the same as #269

[2020-06-14 14:40] aminya commented on #275
I created an issue here. https://github.com/JuliaLang/julia/issues/36283

[2020-06-14 14:40] #275 closed

[2020-07-21 19:52] logankilpatrick opened #276 "Error uploading coverage stats"
Hey all, I am getting the following error uploading my coverage stats on Travis and was wondering if anyone has any suggestions:

[code]

[2020-07-21 20:00] logankilpatrick commented on #276
Note that this seems to work fine on master but not other branches.

[2020-08-12 00:34] briochemc opened #277 "Bug: Function declaration shown as missed although function body is hit"
So I have codecov setup on [AIBECS.jl](https://github.com/JuliaOcean/AIBECS.jl) and it oddly shows the lines declaring functions as missed. Here is a screenshot of such a case:

<img width="845" alt="Screen Shot 2020-08-12 at 12 08 29 am" src="https://user-images.githubusercontent.com/4486578/89961983-bcd49c00-dc86-11ea-9c4f-322b67400672.png">

and [here](https://codecov.io/gh/JuliaOcean/AIBECS.jl

[2020-08-12 01:12] DilumAluthge commented on #277
@vtjnash ^

[2020-08-13 00:02] logankilpatrick opened #278 "Coverage uploading question"
Hey all, from the README: "If you are using Travis with language: julia, simply add codecov: true to your .travis.yml."...

Does this mean that all I need is: "codecov: true" in my travis file and coverage stats should be getting uploaded?

[2020-08-21 04:54] briochemc commented on #277
Bump in case this got forgotten with GitHub's notification system?

Also saw that this bug is produced for the coverage of... Coverage.jl! See, e.g., https://codecov.io/gh/JuliaCI/Coverage.jl/src/master/src/codecovio.jl#L36

[2020-09-04 03:41] DilumAluthge opened #283 "CI is failing"
CI is failing on #281 and #282 for reasons that seem unrelated to the pull requests.

@vtjnash Any idea what is going on?

[2020-09-04 04:05] vtjnash commented on #283
Duplicate of https://github.com/JuliaCI/Coverage.jl/pull/280 ?

[2020-09-04 04:14] DilumAluthge commented on #283
Hmmm I'm not sure. Tests in #280 are also failing, I think with the same error.

[2020-09-29 15:59] kyungminlee opened #284 "better github action support?"
`add_ci_to_kwargs` from `codecovio.jl` can be updated to provide better support for GitHub Action. Current version ignores branch when submitting to CodeCov.

https://github.com/JuliaCI/Coverage.jl/blob/9ddfeafdbc5e8bf883967781d3d64460aadfa245/src/codecovio.jl#L142-L147

[2020-10-04 14:26] andreasvarga opened #285 "Coverage counts some comment blocks as not covered lines"
Under Julia 1.5 (I guess), some comment blocks within code, which are marked with `"""  .... """ `, are counted as not covered. Julia 1.2, for example, provides much more accuracte evaluations, by correctly ignoring them. As an example, see the results for  [lyapunov.jl](https://codecov.io/gh/andreasvarga/MatrixEquations.jl/src/master/src/lyapunov.jl), which is part of the [MatrixEquations.jl](htt

[2020-11-05 02:22] ronisbr opened #286 "Error on Travis when submitting to Coveralls"
Hi!

I am using this package on Travis to submit the results to Coveralls and I am getting this error message:

[code]

I am not sure if the problem is with this package, Coverall, or Travis.

[2020-11-05 02:49] ronisbr commented on #286
Never mind. Problem is coming and going. Seems some kind of instability somewhere. Sorry for the noise!

[2020-11-05 02:49] #286 closed

[2020-11-06 01:07] fingolfin commented on #283
In Julia 1.5, tests are failing because coverage for `test/data/testparser.jl` changed:
1. its second line is now counted as being executed once, not twice (which seems correct to me? I.e. the prior behavior was wrong?)
2. the final (uncovered, empty) line at the end is no longer in the coverage data (again, seems like a bug fix to me)

To deal with those two, once could modify `target = Coverage.

[2020-11-06 01:11] fingolfin commented on #284
Unfortunately nobody is really working on Coverage.jl right now. If you have an inkling of what needs to be done here (e.g. how to figure out the correct branch and how to submit it), perhaps consider submitting a PR to Coverage.jl to get it done?

[2020-11-06 01:11] fingolfin commented on #277
@vtjnash ping?

[2020-11-11 17:09] vtjnash opened #290 "normalize file path separators"
As can be seen on this recent report https://coveralls.io/builds/34877434, `\` isn't understood by Coveralls, since it expects URI formatted paths.

[2020-11-11 17:11] vtjnash commented on #290
Refs https://github.com/lemurheavy/coveralls-public/issues/1443

[2020-11-12 14:36] vtjnash commented on #278
yes

[2020-11-12 14:36] #278 closed

[2020-11-12 14:38] vtjnash commented on #53
Closed by https://github.com/JuliaCI/CoverageTools.jl/pull/35

[2020-11-12 14:38] #53 closed

[2020-11-12 14:39] vtjnash commented on #44
Moved to https://github.com/JuliaCI/CoverageTools.jl/issues/33

[2020-11-12 14:39] #44 closed

[2020-11-12 14:41] vtjnash commented on #262
some of them do that, e.g. https://github.com/JuliaData/YAML.jl/blob/master/.travis.yml

[2020-11-12 14:41] #262 closed

[2020-11-12 14:54] vtjnash commented on #276
if you rerun `curl https://codecov.io/upload/v2?&service=travis-org&branch=ck-todoList&commit=767c28ccaf8f72f82802a77ab703fd1&pull_request=false&job=363467107&slug=xxxxxxxxx.jl&build=1249.1 -d '' -H "Accept: application/json" -H "Content-Type: application/json"` manually with your actual slug, what error message does it print?

[2020-11-12 14:58] vtjnash commented on #277
Those linked reports all look correct to me

[2020-11-12 21:52] briochemc commented on #277
The line declaring the function looks green *now*, but still shows less hits than the function body, which cannot be correct, right?

[2020-11-17 01:07] #273 closed

[2020-11-17 01:07] #290 closed

[2020-11-17 01:09] fingolfin commented on #283
Fixed by PR #289

[2020-11-17 01:09] #283 closed

[2020-11-17 01:12] fingolfin commented on #277
https://codecov.io/gh/JuliaCI/Coverage.jl/src/master/src/codecovio.jl looks fine right now: those `function FOO(...)` lines should not be marked as code at all.

@briochemc do you have a current example that can be viewed in public?

[2020-11-17 01:36] fingolfin opened #292 "Add GitHub Actions based CI for this repository"

[2020-11-17 01:42] briochemc commented on #277
This changed again since my last message, the "declaring" lines `function FOO(...)` were marked as code 4 days ago... For the record, this is what I see today when I click on https://codecov.io/gh/JuliaCI/Coverage.jl/src/master/src/codecovio.jl#L36:

<img width="646" alt="Screen Shot 2020-11-17 at 12 38 54 pm" src="https://user-images.githubusercontent.com/4486578/99329230-e29abe00-28d1-11eb-952e-

[2020-11-17 01:48] #277 closed

[2020-11-17 01:49] #284 closed

[2020-11-17 02:34] vtjnash commented on #277
It's merging reports from multiple Julia versions, so that is correct.

It's public, but Github might be blocking codecovio from displaying the source code for unauthenticated users, which may be resulting in confusion when not logged in to codecovio also (https://community.codecov.io/t/github-api-forbidden/1295/5)

[2020-11-17 02:58] #139 closed

[2020-11-17 12:31] #98 closed

[2020-11-17 12:39] #276 closed

[2020-11-20 00:55] JuliaTagBot opened #297 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-11-20 00:55] #297 closed

[2020-11-23 10:33] timholy opened #299 "Invalid iteration specification"
https://github.com/mojaie/MolecularGraph.jl/pull/38/checks?check_run_id=1441476647

[2020-11-23 16:41] fingolfin opened #300 "multiple Coveralls reports on PRs here"
For some time now, projects using Coverage.jl plus Coveralls may get multiple Coveralls comments on PRs; see e.g. https://github.com/JuliaCI/CoverageTools.jl/pull/43 or https://github.com/JuliaCI/Coverage.jl/pull/289

<s>I believe this is indeed due to PR #289 and its removal of the `COVERALLS_PARALLEL=true` etc. which we ought to be using per https://github.com/marketplace/actions/coveralls-githu

[2020-11-23 16:56] vtjnash commented on #300
The commenting feature used to be completely disabled. Unrelated to that PR, I turned them on. That doesn't affect other projects.

[2021-02-11 22:50] 1ozturkbe opened #301 "Coverage fails at submit_local."
Hello folks,

I have recently gotten errors on a perfectly normal ```Codecov.submit_local``` call, and I can't figure out why. I would appreciate it if you could help me figure it out. It seems like the coverage gets everything right when I call the following:
[code]
But when it comes to ```Codecov.submit_local(coverage)```, it throws the following error:
[code]
Please help! I am using latest Cove

[2021-02-12 16:41] usandourkids525 opened #302 "Jamie"
You ain't covering me well lol I slow teach me by example not leave me I. The freaking dust wortel

[2021-02-12 17:28] ararslan commented on #302
Hi @usandourkids525. This comment does not seem to be relevant to this repository, so I'm going to close the issue. Please feel free to open a new issue if you find you're having issues using Coverage.jl for collecting/submitting code coverage information for Julia code.

[2021-02-12 17:28] #302 closed

[2021-02-13 11:33] usandourkids525 opened #303 "Hi @usandourkids525. This comment does not seem to be relevant to this repository, so I'm going to close the issue. Please feel free to open a new issue if you find you're having issues using Coverage.jl for collecting/submitting code coverage information for Julia code.how would it be more relevant to the issue"
Hi @usandourkids525. This comment does not seem to be relevant to this repository, so I'm going to close the issue. Please feel free to open a new issue if you find you're having issues using Coverage.jl for collecting/submitting code coverage information for Julia code.

__Originally posted by @ararslan in https://github.com/JuliaCI/Coverage.jl/issues/302#issuecomment-778332594__

[2021-02-13 18:14] timholy commented on #303
@usandourkids525, please desist unless you have something constructive to contribute.

[2021-02-13 18:14] #303 closed

[2021-02-17 23:26] mdashti opened #305 "Coverage for Function Signatures"
It's a known issue that function signatures might not be marked as covered, even if their body is covered. This is mainly attributed to the inlining (as mentioned in the README file). This breaks the usefulness of the coverage numbers and always requires manual checking of all files.

One way to improve this (before there's a better solution via Julia itself) is to do a post-processing on the cove

[2021-02-22 05:06] vtjnash opened #306 "tests fail if not cloned as a git repo"
Pkg.test fails: e.g. https://s3.amazonaws.com/julialang-reports/nanosoldier/pkgeval/by_date/2021-02/21/Coverage.1.7.0-DEV-d524f21917.log
[code]

[2021-03-22 22:08] vtjnash opened #308 "fix deprecated HTTP post call"
[code]

[2021-03-22 22:35] vtjnash commented on #301
We added the Accept header recently (https://github.com/JuliaCI/Coverage.jl/pull/293), but it looks like their backend server might now break when you pass that option (and always gives text/json now, regardless of what is requested / Allowed)

[2021-03-29 18:28] #301 closed

[2021-06-08 22:07] DilumAluthge commented on #292
This is done now: https://github.com/JuliaCI/Coverage.jl/blob/master/.github/workflows/CI.yml (e.g. https://github.com/JuliaCI/Coverage.jl/blob/c0abb4bd9ffc5ebddf9856011aa2fd8957a190bd/.github/workflows/CI.yml)

[2021-06-08 22:07] #292 closed

[2021-06-09 03:28] DilumAluthge opened #314 "Debugging the Coveralls errors"

[2021-06-09 03:31] DilumAluthge commented on #314
@vtjnash Take a look at these lines:

https://github.com/JuliaCI/Coverage.jl/blob/e0655f8bd26824ac7afc8e135b25e4ca2f804e18/src/coveralls.jl#L46-L46

If I understand correctly, `MbedTLS.digest` returns a `Vector{UInt8}`.

However, the Coveralls API documentation (https://docs.coveralls.io/api-introduction) has this "example of what a source file would look like as JSON":
[code]

If I understand cor

[2021-06-09 03:39] DilumAluthge commented on #314
I'll try `bytes2hex` and see if Coveralls accepts that.

[2021-06-09 03:59] vtjnash commented on #314
Seems like a good observation and fix

[2021-06-09 04:41] #314 closed

[2021-06-13 23:10] DilumAluthge commented on #300
On this repo (JuliaCI/Coverage.jl), the problem seems to be solved now. PRs made to this repo only have a single Coveralls comment and a single Codecov comment.

So I'm going to close this issue. If you have an example repo where this problem is still happening, let me know and we can reopen this issue.

[2021-06-13 23:10] #300 closed

[2021-06-14 02:39] #308 closed

[2021-06-22 15:49] fchorney opened #322 "local declaration not counting as covered"
I don't currently have a MWE but I found this to be quite curious. It seems that coverage doesn't count this declaration of local variables as covered.

![image](https://user-images.githubusercontent.com/202139/122957257-61b01300-d347-11eb-9a8d-ac57e4bdf777.png)

Is there any other info that I might be able to give you that would help resolve this?

[2021-06-22 16:26] fchorney commented on #322
oops I need to put this in julia rather than here. Sorry!

[2021-06-22 16:26] #322 closed

[2021-06-22 16:27] vtjnash commented on #322
I think there is one already, but I'm trying to find it for xref

[2021-06-22 16:28] fchorney commented on #322
yes I did find it https://github.com/JuliaLang/julia/issues/39307

[2021-07-02 22:17] kevglynn commented on #225
Running into similar issue, v1.6.0, as seen here:

tried running `Pkg.update()` and got following error and stacktrace:

SystemError: opening file "/opt/julia/latest/packages/logs/manifest_usage.toml": Permission denied

Stacktrace:
  [1] systemerror(p::String, errno::Int32; extrainfo::Nothing)
    @ Base ./error.jl:168
  [2] #systemerror#62
    @ ./error.jl:167 [inlined]
  [3] systemerror
    @ .

[2021-09-23 09:30] andreasnoack opened #323 "Manual upload to Codecov fails with ENETUNREACH"
This used to work fine but now I'm consistently getting
[code]
Using Codecovs new uploader works just fine.

cc: @DilumAluthge @vtjnash

[2021-10-13 08:01] st-- opened #326 "Document manual exclusion of lines/blocks from coverage count"
According to the source (https://github.com/JuliaCI/CoverageTools.jl/blob/master/src/CoverageTools.jl#L200), Coverage[Tools].jl does support manual exclusion of both individual lines (`COV_EXCL_LINE` anywhere on the line) and code blocks (anything between lines containing `COV_EXCL_START` and `COV_EXCL_STOP`, respectively). I was looking for this and it took me a while to figure out: could this be

[2021-11-02 16:04] CNelias opened #328 "Issue with appveyor"
I included the recommended line
[code]
in my [appveyor.yml](https://github.com/johncwok/CategoricalTimeSeries.jl/blob/main/appveyor.yml) file, which is not recognized correctly by appveyor and returns the following error:
[code]
Did I miss an important detail somehow?

[2021-11-02 16:38] vtjnash commented on #328
It looks the path to Julia changed in the AppVeyor script. Can you submit a PR to fix the README to the current path?

[2021-11-03 13:54] johncwok commented on #328
I would, but I actually don't know the current path. I tried the following, where I thought julia to be in appveyor, but got an error.
[code]

[2022-01-11 17:43] cbartondock commented on #225
Don't know why this is closed, I am seeing the same thing as the previous comment trying to install a package.

[2022-01-11 18:00] fingolfin commented on #225
It was closed because the original  issue went away.

Also,  this is a very general error message which can have wildly different causes, many not related to Coverage.jl. E.g. the one in the original report looks very different from that in @kevglynn's comment. This latter one  looks as if a (badly configured) central Julia installation is used with wrong permissions.

So don't assume it is the sa

[2022-01-11 18:20] cbartondock commented on #225
Interestingly the problem seemed to be (in my case) that Windows 11 changed the behavior of "hidden" directories. Once I unhid the directory `.julia` the issue went away. Thanks!

[2022-05-18 11:31] theogf opened #330 "No support for Gitlab CI"
Currently, it is not possible to `submit` coverage report to neither Coveralls or Codecov as Gitlab CI is not supported

[2022-05-18 11:40] vtjnash commented on #330
Is this the same as https://github.com/JuliaCI/Coverage.jl/issues/226?

[2022-05-18 11:44] theogf commented on #330
It is indeed but it would be nice to not have to rely on a workaround :)

[2022-05-24 23:04] #330 closed

[2022-08-14 06:36] kongdd commented on #44
Is this feature implemented now?

[2022-08-14 06:51] DilumAluthge commented on #44
No, it's just being tracked in https://github.com/JuliaCI/CoverageTools.jl/issues/33 (instead of on this repo$.

[2022-09-06 18:44] andreasnoack commented on #323
I no longer get this error.

[2022-09-06 18:44] #323 closed